openapi: 3.0.3
info:
  contact:
    email: info@autoscout24.ch
    name: AutoScout24 Engineering Team
    url: https://developers.autoscout24.ch
  description: Explore the versatile AutoScout24 REST API for seamless integration.
  title: AutoScout24 API
  version: 1.0.1

servers:
  - url: "https://api.autoscout24.ch"

security:
  - BearerAuth: [ ]

tags:
  - name: Listing
  - name: Listing Equipment
  - name: Listing Search
  - name: Make
  - name: Message Lead
  - name: Model
  - name: Quali Logo
  - name: Reference Data
  - name: Seller
  - name: Version
paths:
  /fs24/v1/listings/{listingId}:
    get:
      operationId: GetFinanceScout24ListingsListingId
      description: Returns a FinanceScout24 listing for the specified listing ID.
      tags:
        - Listing
      parameters:
        - $ref: '#/components/parameters/listingIdPathParam'
      responses:
        "200":
          description: Listing successfully returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FinanceScout24Listing"
  /public/v1/listings/{listingId}:
    get:
      operationId: GetListing
      description: Returns a localized listing for the specified listing ID.
      tags:
        - Listing
      parameters:
        - name: listingId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - $ref: "#/components/parameters/languageParam"
      responses:
        "200":
          description: Listing successfully returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingResponse'
  /public/v1/listings/facets:
    post:
      operationId: GetFacets
      description: Returns facets based on the specified query parameters.
      tags:
        - Listing Search
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListingFacets"
        required: true
      responses:
        "200":
          description: Facets successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FacetsResponse"
  /public/v1/listings/search:
    post:
      operationId: SearchListings
      description: Returns listings based on the specified query parameters.
      tags:
        - Listing Search
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListingSearch"
        required: true
      responses:
        "200":
          description: Listings successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListingSearchResponse"
  /public/v1/listings/{listingId}/equipment:
    get:
      operationId: GetListingEquipment
      description: Returns localized equipment details for the specified listing ID.
      tags:
        - Listing Equipment
      parameters:
        - name: listingId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - $ref: "#/components/parameters/languageParam"
      responses:
        "200":
          description: Listing equipment successfully returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingEquipmentResponse'
  /public/v1/makes:
    get:
      operationId: GetMakes
      description: Returns a sorted list of makes for the specified vehicle category.
      tags:
        - Make
      parameters:
        - $ref: "#/components/parameters/vehicleCategoryQueryParam"
        - $ref: "#/components/parameters/pageQueryParam"
        - $ref: "#/components/parameters/sizeQueryParam"
      responses:
        "200":
          description: List of makes successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MakeResponse"
  /public/v1/makes/key/{makeKey}/models:
    get:
      operationId: GetModels
      description: Returns a sorted list of models for the specified makeKey and vehicle category.
      tags:
        - Model
      parameters:
        - name: makeKey
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/vehicleCategoryQueryParam"
        - $ref: "#/components/parameters/pageQueryParam"
        - $ref: "#/components/parameters/sizeQueryParam"
      responses:
        "200":
          description: List of models successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelResponse"
  /public/v1/listings/{listingId}/message-leads:
    post:
      operationId: CreateMessageLead
      description: Creates a message lead for the specified listing ID.
      tags:
        - Message Lead
      parameters:
        - $ref: '#/components/parameters/listingIdPathParam'
        - name: X-AS24-Source
          description: Source of the message lead.
          in: header
          required: true
          schema:
            type: string
            enum:
              - hci
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MessageLead"
        required: true
      responses:
        "201":
          description: Message lead successfully created.
          headers:
            Location:
              description: Relative path to the newly created resource.
              schema:
                type: string
  /public/v1/quali-logos/{qualiLogoId}:
    get:
      operationId: GetQualiLogo
      description: Returns the specified Quali Logo.
      tags:
        - Quali Logo
      parameters:
        - name: qualiLogoId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - $ref: "#/components/parameters/languageParam"
      responses:
        "200":
          description: Quali Logo successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QualiLogoResponse"
  /public/v1/reference-data:
    get:
      operationId: GetReferenceData
      description: Returns reference data, optionally filtered by vehicle category.
      tags:
        - Reference Data
      parameters:
        - name: vehicleCategory
          in: query
          description: Filter reference data by vehicle category.
          required: false
          schema:
            $ref: "#/components/schemas/VehicleCategory"
      responses:
        "200":
          description: Reference data successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReferenceDataResponse"
  /public/v1/sellers/{sellerId}:
    get:
      operationId: GetSeller
      description: Returns seller details for the specified seller ID.
      tags:
        - Seller
      parameters:
        - $ref: '#/components/parameters/sellerIdPathParam'
      responses:
        "200":
          description: Seller details successfully returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SellerResponse"
  /public/v1/sellers/{sellerId}/listings:
    get:
      operationId: GetSellerListings
      description: Returns listings for the specified seller ID.
      tags:
        - Listing
      parameters:
        - $ref: '#/components/parameters/sellerIdPathParam'
        - $ref: "#/components/parameters/pageQueryParam"
        - $ref: "#/components/parameters/sizeQueryParam"
      responses:
        "200":
          description: Seller's listings successfully returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SellerListingPage"
  /public/v1/sellers/{sellerId}/listings/{listingId}:
    get:
      operationId: GetSellerListing
      description: Returns listing details for the specified seller ID and listing ID.
      tags:
        - Listing
      parameters:
        - $ref: '#/components/parameters/sellerIdPathParam'
        - $ref: '#/components/parameters/listingIdPathParam'
      responses:
        "200":
          description: Listing details successfully returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SellerListing"
  /public/v1/vehicle-categories:
    get:
      operationId: GetVehicleCategories
      description: Returns a list of available vehicle categories.
      tags:
        - Reference Data
      responses:
        "200":
          description: Vehicle categories successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VehicleCategoriesResponse"
  /public/v1/versions/{versionId}:
    get:
      operationId: GetVersion
      description: Returns version details for the specified version ID.
      tags:
        - Version
      parameters:
        - $ref: '#/components/parameters/versionIdPathParam'
      responses:
        "200":
          description: Version details successfully returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/VersionShared"
components:
  parameters:
    languageParam:
      in: query
      name: language
      description: The language in which the response should be returned (defaults to German).
      required: false
      schema:
        $ref: '#/components/schemas/Language'
    listingIdPathParam:
      in: path
      name: listingId
      description: The ID of the listing.
      required: true
      schema:
        type: integer
        format: int64
      example: 1620023
    pageQueryParam:
      in: query
      name: page
      description: The page number for data retrieval (defaults to 0).
      required: false
      schema:
        type: integer
        format: int32
        minimum: 0
        maximum: 999999
        default: 0
      example: 0
    sellerIdPathParam:
      in: path
      name: sellerId
      description: The ID of the seller.
      required: true
      schema:
        type: integer
        format: int64
      example: 601
    sizeQueryParam:
      in: query
      name: size
      description: The number of records per page (defaults to 20, maximum 2000).
      required: false
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2000
        default: 20
      example: 20
    vehicleCategoryQueryParam:
      in: query
      name: vehicleCategory
      description: The vehicle category for which data should be retrieved.
      required: true
      schema:
        $ref: "#/components/schemas/VehicleCategory"
    versionIdPathParam:
      in: path
      name: versionId
      description: The ID of the version.
      required: true
      schema:
        type: integer
        format: int64
      example: 1923
  schemas:
    BodyType:
      type: string
      description: Defines the body type of the vehicle, indicating the general structure and form.
      enum:
        - alcove
        - atv-quad
        - boat-trailer
        - box
        - box-double-cab
        - box-glazed
        - bridge
        - bridge-double-cab
        - bus
        - cab-over
        - cabin
        - cabriolet
        - car
        - caravan
        - car-trailer
        - car-transporter
        - chassis-cab
        - chopper
        - construction-trailer
        - coupe
        - custom-bike
        - e-bike
        - estate
        - horse-trailer
        - integrated
        - livestock-trailer
        - low-bed-trailer
        - minivan
        - moped
        - motocross-bike
        - motorcycle-trailer
        - motorhome
        - naked-bike
        - off-road-bike
        - other
        - pickup
        - platform
        - reefer
        - sales-trailer
        - saloon
        - sanitary-trailer
        - scooter
        - semi-integrated
        - semi-trailer
        - sidecar
        - small-car
        - snowmobile
        - special-vehicles-trailer
        - street-bike
        - suitcase
        - supermoto
        - suv
        - tank-body
        - tipper
        - touring
        - trailer
        - trike
        - uploader
        - wood-transporter
      example: "car"
    ChargingPlugType:
      type: string
      description: The type of charging plug supported by the vehicle for electric vehicles.
      enum:
        - type-1
        - type-2
      example: "type-2"
    Color:
      type: string
      description: The color of the vehicle or its components.
      enum:
        - anthracite
        - beige
        - black
        - blue
        - bordeaux
        - brown
        - gray
        - gold
        - green
        - multicolored
        - orange
        - pink
        - red
        - silver
        - turquoise
        - violet
        - white
        - yellow
        - other
      example: "blue"
    ConditionType:
      type: string
      description: Specifies the condition of the vehicle, whether it's new, used, or other categories.
      enum:
        - new
        - used
        - demonstration
        - oldtimer
        - pre-registered
      example: "new"
    Consumption:
      description: Represents the fuel consumption of the vehicle.
      type: object
      properties:
        combined:
          description: The combined fuel consumption of the vehicle in liters per 100 kilometers.
          type: number
          example: 8.55
      example: { "combined": 8.55 }
    CylinderArrangement:
      type: string
      description: The arrangement of cylinders in the vehicle’s engine.
      enum:
        - inline
        - flat
        - v
        - vr
        - rotary
        - monobloc
        - w
      example: "v"
    DriveSystem:
      type: string
      description: The type of system used to transmit power from the engine to the wheels or other moving parts.
      enum:
        - belt
        - chain
        - shaft
        - direct
      example: "belt"
    DriveType:
      type: string
      description: The type of drive that determines how the vehicle's wheels are powered.
      enum:
        - rear
        - front
        - all
      example: "rear"
    EmissionStandard:
      type: string
      description: The emission standard that the vehicle complies with, indicating the level of pollutants it produces.
      enum:
        - euro-1
        - euro-2
        - euro-3
        - euro-4
        - euro-5
        - euro-5-plus
        - euro-6
        - euro-6a
        - euro-6b
        - euro-6c
        - euro-6d
        - euro-6d-temp
        - euro-6d-temp-evap
        - euro-6d-temp-evap-isc
        - euro-6d-temp-isc
        - euro-6d-isc
        - euro-6d-isc-fcm
        - euro-6e
      example: "euro-6"
    EnergyLabel:
      type: string
      description: The energy efficiency label of the vehicle, indicating how energy-efficient it is.
      enum:
        - a
        - b
        - c
        - d
        - e
        - f
        - g
      example: "a"
    Equipment:
      type: object
      description: Represents an equipment item or package included in the vehicle.
      properties:
        name:
          type: string
          description: The name of the equipment item or package.
          example: "ABS"
        packageItems:
          type: array
          description: A list of equipment items included in the package, if any.
          items:
            $ref: '#/components/schemas/PackageItem'
          nullable: true
      example:
        name: "ABS"
        packageItems:
          - { "name": "ABS Module" }
    EquipmentSearchAttribute:
      type: string
      description: Represents specific equipment features that can be searched for in a vehicle.
      enum:
        - abs
        - active-brake-assistant
        - adaptive-cruise-control
        - adaptive-headlights
        - additional-instrumentation
        - air-condition
        - air-suspension
        - alarm-system
        - alcantara
        - alloy-wheels
        - android-auto
        - anti-theft-device
        - apple-carplay
        - assisted-parking
        - audio-system
        - automatic-air-condition
        - auxiliary-heating
        - backrest
        - blind-spot-system
        - bluetooth-interface
        - 360-camera
        - catalytic-converter
        - chrome-parts
        - cloth-seats
        - cover
        - crash-bar
        - cruise-control
        - custom-exhaust
        - custom-handlebar
        - dab-radio
        - detachable-towbar
        - differential-locking
        - double-disc-brake
        - double-seat
        - electric-seat
        - electric-tailgate
        - esp
        - fast-charging
        - floorboard
        - full-partial-casing
        - hands-free-set
        - hardtop
        - head-up-display
        - heated-grips
        - heated-seats
        - hydraulic-system
        - isofix
        - keyless
        - kitchen
        - lane-assistant
        - laser-headlights
        - leather-seats
        - led
        - liftgate
        - luggage-rack
        - navigation
        - panorama-roof
        - parking-sensor-front
        - parking-sensor-rear
        - partial-leather-seats
        - portable-navigation-system
        - rear-camera
        - reinforced-suspension
        - retarder-intarder
        - retractable-towbar
        - saddlebag
        - shower
        - sliding-door
        - solo-seat
        - speaker
        - special-paint
        - spoked-wheels
        - sport-seats
        - start-stop-system
        - suitcase
        - sunroof
        - tank-bag
        - toilet
        - top-case
        - towbar
        - traction-control
        - tv
        - twin-headlights
        - ventilated-seats
        - windshield
        - wing-doors
        - xenon-headlights
        - electric-windows
      example: "abs"
    EquipmentSearchAttributeGroup:
      type: string
      description: A group of related equipment search attributes for filtering.
      enum:
        - air-condition
        - headlights
        - navigation-system
        - seat-covers
        - towbar
      example: "headlights"
    Facet:
      type: string
      enum:
        - bodyColors
        - bodyTypes
        - conditionTypes
        - driveSystems
        - driveTypes
        - equipmentSearchAttributes
        - equipmentSearchAttributeGroups
        - fuelTypes
        - hadNoAccidentOnly
        - handicappedAccessibleOnly
        - hasAdditionalSetOfTiresOnly
        - hasCraneOnly
        - hasNewTiresOnly
        - hasRestrictorKit25KwOnly
        - hasRestrictorKit35KwOnly
        - hasTailLiftOnly
        - hasTarpaulinOnly
        - hasWarrantyOnly
        - hasWinchOnly
        - inspectedOnly
        - interiorColors
        - makeKeys
        - modelGroupKeys
        - modelKeys
        - racingVehicleOnly
        - transmissionTypeGroups
        - transmissionTypes
        - tunedOnly
        - vehicleCategories
      description: A list of possible facet categories used for filtering or sorting listings.
    FacetsResponse:
      type: object
      properties:
        facets:
          description: Retrieved facets.
          type: object
          additionalProperties:
            description: Facet name.
            type: object
            additionalProperties:
              description: Facet value.
              type: integer
              format: int64
      example: { "makeKeys": { "audi": 100, "bmw": 200 } }
      description: The response containing the facets retrieved, with each facet represented by its name and associated values.
    FastChargingPlugType:
      type: string
      enum:
        - ccs
        - ccs-2
        - chademo
        - supercharger
      description: A list of possible fast charging plug types supported by electric vehicles.
    Feature:
      type: string
      enum:
        - top-list
      description: A list of features available for filtering or categorizing listings, such as 'top-list' for featured listings.
    FinanceScout24Listing:
      properties:
        availableForLeasing:
          description: Flag indicating if the listing is available for leasing.
          type: boolean
          example: false
        bodyType:
          description: Shape of the vehicle body.
          allOf:
            - $ref: "#/components/schemas/BodyType"
          example: estate
        certificationNumber:
          description: Registration document number; in Swiss market known as Typenscheinnummer.
          type: string
          minLength: 6
          maxLength: 6
          pattern: '^\w{6}$'
          example: 1AE899
        cubicCapacity:
          description: Volume of the engine's cylinders in cubic centimeters.
          type: integer
          format: int32
          minimum: 1
          maximum: 29999
          example: 2995
        cylinders:
          description: Number of cylinders of the engine.
          type: integer
          format: int32
          minimum: 1
          maximum: 99
          example: 6
        doors:
          description: Number of doors of the vehicle.
          type: integer
          format: int32
          minimum: 1
          maximum: 9
          example: 5
        driveType:
          description: Drive type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/DriveType"
          example: all
        firstRegistrationDate:
          description: First registration date of the vehicle.
          type: string
          format: date
          example: '2020-12-15'
        firstRegistrationYear:
          description: Year when the vehicle was first registered.
          type: integer
          format: int32
          minimum: 1800
          maximum: 9999
          example: 2020
        fuelType:
          description: Fuel type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/FuelType"
          example: petrol
        id:
          description: Listing's ID.
          type: integer
          format: int64
          example: 1620023
        images:
          description: Listing images.
          type: array
          items:
            $ref: "#/components/schemas/Image"
        kiloWatts:
          description: Power the engine produces in kW.
          type: integer
          format: int32
          minimum: 1
          maximum: 9999
          example: 250
        listPrice:
          description: List price of the vehicle.
          type: number
          format: double
          minimum: 1.0
          maximum: 9999999.0
          example: 65400
        live:
          description: Flag indicating if a listing is live.
          type: boolean
          example: true
        makeKey:
          description: Unique key of the make.
          type: string
          minLength: 1
          maxLength: 64
          example: audi
        mileage:
          description: Distance in km that the vehicle has run.
          type: integer
          format: int32
          minimum: 0
          maximum: 99999999
          example: 17500
        modelKey:
          description: Key of the model (unique on the make level).
          type: string
          minLength: 1
          maxLength: 64
          example: a6
        price:
          description: Price of the vehicle.
          type: number
          format: double
          minimum: 1.0
          maximum: 9999999.0
          example: 47000
        seats:
          description: Number of seats of the vehicle.
          type: integer
          format: int32
          minimum: 1
          maximum: 199
          example: 5
        sellerId:
          description: Seller's ID.
          type: integer
          format: int64
          example: 1923
        transmissionType:
          description: Transmission type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/TransmissionType"
          example: automatic
        tuned:
          description: Flag indicating if the vehicle was altered to make it nicer or faster.
          type: boolean
          example: false
        vehicleCategory:
          description: Category of the vehicle.
          allOf:
            - $ref: "#/components/schemas/VehicleCategory"
          example: car
        versionFullName:
          description: Full version name of the vehicle.
          type: string
          maxLength: 128
          example: A6 3.0 55 TFSI quattro S-Tronic
        versionId:
          description: Version ID of a listing.
          type: integer
          format: int64
          example: 100201
      description: A representation of a listing object from FinanceScout24 containing various attributes of the vehicle such as fuel type, body type, and pricing information.
    FuelType:
      type: string
      enum:
        - cng-petrol
        - diesel
        - electric
        - ethanol-petrol
        - hev-diesel
        - hev-petrol
        - hydrogen
        - lpg-petrol
        - mhev-diesel
        - mhev-petrol
        - petrol
        - phev-diesel
        - phev-petrol
        - two-stroke-mixture
      description: A list of possible fuel types that a vehicle can use.
    Image:
      properties:
        url:
          description: URL of the image.
          type: string
          format: uri
          example: https://images.autoscout24.ch/853/11878853/0.jpg
      description: Represents an image associated with a listing, containing a relative URL to the image file.
    Language:
      type: string
      enum:
        - de
        - fr
        - it
      example: de
      description: The language used by the user, which can be German (de), French (fr), or Italian (it).
    LicenseCategory:
      type: string
      enum:
        - a
        - a1
        - a-
        - b
        - b1
        - c
        - c1
        - f
        - m
      description: A list of possible vehicle license categories based on the driver's license type.
    ListingBaseResponse:
      type: object
      properties:
        conditionType:
          description: Condition type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/ConditionType"
          example: demonstration
        consumption:
          $ref: "#/components/schemas/Consumption"
        features:
          description: Listing features.
          type: array
          items:
            $ref: "#/components/schemas/ListingFeature"
        firstRegistrationDate:
          description: First registration date of the vehicle.
          type: string
          format: date
          example: '2020-12-15'
        firstRegistrationYear:
          description: Year when the vehicle was first registered.
          type: integer
          format: int32
          example: 2020
        fuelType:
          description: Fuel type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/FuelType"
          example: hev-diesel
        horsePower:
          description: Horse power of the vehicle.
          type: integer
          format: int32
          example: 199
        id:
          description: Listing's ID.
          type: integer
          format: int64
          example: 1620023
        images:
          description: Listing images.
          type: array
          items:
            $ref: "#/components/schemas/Image"
        kiloWatts:
          description: Power the engine produces in kW.
          type: integer
          format: int32
          example: 250
        make:
          $ref: "#/components/schemas/Make"
        mileage:
          description: Distance in km that the vehicle has run.
          type: integer
          format: int32
          example: 17500
        model:
          $ref: "#/components/schemas/Model"
        previousPrice:
          description: Previous price of the vehicle.
          type: number
          example: 47000
        price:
          description: Price of the vehicle.
          type: number
          example: 45000
        qualiLogo:
          $ref: "#/components/schemas/QualiLogo"
        range:
          description: Range of the electric vehicle in km.
          type: integer
          format: int32
          example: 500
        seller:
          $ref: "#/components/schemas/ListingBaseResponse_Seller"
        teaser:
          description: Short description of the listing.
          type: string
          example: Awesome car!
        transmissionType:
          description: Transmission type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/TransmissionType"
          example: automatic
        vehicleCategory:
          description: Category of the vehicle.
          allOf:
            - $ref: "#/components/schemas/VehicleCategory"
          example: car
        versionFullName:
          description: Full version name of the vehicle.
          type: string
          example: A6 3.0 55 TFSI quattro S-Tronic
      description: The base response for vehicle listings, including key attributes such as fuel type, price, mileage, and more.
    ListingBaseResponse_Seller:
      type: object
      properties:
        id:
          description: Seller's ID.
          type: integer
          format: int64
          example: 1923
      description: Represents the data for a seller, including the seller's unique identifier.
    ListingFeature:
      type: object
      properties:
        feature:
          description: Feature of the listing.
          allOf:
            - $ref: "#/components/schemas/Feature"
          example: top-listing
    ListingResponse:
      type: object
      properties:
        axis:
          description: Number of axles of the vehicle.
          type: integer
          format: int32
          minimum: 1
          maximum: 6
          example: 2
        batteryCapacity:
          description: Capacity of the battery in kWh.
          type: number
          format: double
          minimum: 1.0
          maximum: 999.0
          example: 150.55
        bodyColor:
          description: Color of the vehicle body.
          allOf:
            - $ref: "#/components/schemas/Color"
          example: blue
        bodyType:
          description: Shape of the vehicle body.
          allOf:
            - $ref: "#/components/schemas/BodyType"
          example: coupe
        boot:
          description: Boot dimensions.
          type: object
          properties:
            height:
              description: Height of the boot in cm.
              type: integer
              format: int32
              example: 120
            length:
              description: Length of the boot in cm.
              type: integer
              format: int32
              example: 250
            volume:
              description: Volume of the boot in liters.
              type: number
              format: double
              example: 800.55
            width:
              description: Width of the boot in cm.
              type: integer
              format: int32
              example: 150
        certificationNumber:
          description: Registration document number; in Swiss market known as Typenscheinnummer.
          type: string
          minLength: 6
          maxLength: 6
          pattern: '^\w{6}$'
          example: 1AE899
        chargingPlugType:
          description: Type of the charging plug.
          allOf:
            - $ref: "#/components/schemas/ChargingPlugType"
          example: type-1
        chargingPower:
          description: Charging power in kW.
          type: number
          format: double
          minimum: 1.0
          maximum: 199.0
          example: 2.15
        chargingTime0To100:
          description: Charging time from 0 to 100% in minutes.
          type: integer
          format: int32
          minimum: 1
          maximum: 9999
          example: 99
        chargingTime0To80:
          description: Charging time from 0 to 80% in minutes.
          type: integer
          format: int32
          minimum: 1
          maximum: 9999
          example: 72
        co2Emission:
          description: CO2 emission in g/km.
          type: integer
          format: int32
          minimum: 0
          maximum: 9999
          example: 42
        combustionEngineHorsePower:
          description: Horse power of the combustion engine.
          type: integer
          format: int32
          minimum: 0
          maximum: 9999
          example: 150
        conditionType:
          description: Condition type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/ConditionType"
          example: demonstration
        consumption:
          description: Fuel consumption data for the vehicle.
          type: object
          properties:
            combined:
              description: Total fuel consumption in l/100km.
              type: number
              format: double
              example: 8.55
            extraUrban:
              description: Extra urban fuel consumption in l/100km.
              type: number
              format: double
              example: 6.55
            urban:
              description: Urban fuel consumption in l/100km.
              type: number
              format: double
              example: 10.55
        cubicCapacity:
          description: Volume of the engine's cylinders in cubic centimeters.
          type: integer
          format: int32
          minimum: 1
          maximum: 29999
          example: 2000
        cylinderArrangement:
          description: Arrangement of the cylinders.
          allOf:
            - $ref: "#/components/schemas/CylinderArrangement"
          example: v
        cylinders:
          description: Number of cylinders of the engine.
          type: integer
          format: int32
          minimum: 1
          maximum: 99
          example: 6
        description:
          description: Description of the listing.
          type: string
          example: Awesome car!
        directImport:
          description: Flag indicating if the vehicle was imported by the official seller.
          type: boolean
          example: true
        doors:
          description: Number of doors of the vehicle.
          type: integer
          format: int32
          minimum: 1
          maximum: 9
          example: 5
        driveSystem:
          description: Drive system of the vehicle.
          allOf:
            - $ref: "#/components/schemas/DriveSystem"
          example: belt
        driveType:
          description: Drive type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/DriveType"
          example: all
        electricMotorHorsePower:
          description: Horse power of the electric motor.
          type: integer
          format: int32
          minimum: 0
          maximum: 9999
          example: 49
        emissionStandard:
          description: Emission standard of the vehicle.
          allOf:
            - $ref: "#/components/schemas/EmissionStandard"
          example: euro-6
        energyLabel:
          description: Energy label of the vehicle.
          allOf:
            - $ref: "#/components/schemas/EnergyLabel"
          example: a
        fastChargingPlugType:
          description: Type of the fast charging plug.
          allOf:
            - $ref: "#/components/schemas/FastChargingPlugType"
          example: ccs
        fastChargingPower:
          description: Fast charging power in kW.
          type: number
          format: double
          minimum: 1
          maximum: 999
          example: 50.55
        fastChargingTime0To100:
          description: Fast charging time from 0 to 100% in minutes.
          type: integer
          format: int32
          minimum: 1
          maximum: 9999
          example: 28
        fastChargingTime0To80:
          description: Fast charging time from 0 to 80% in minutes.
          type: integer
          format: int32
          minimum: 1
          maximum: 9999
          example: 23
        firstRegistrationDate:
          description: First registration date of the vehicle.
          type: string
          format: date
          example: '2020-12-15'
        firstRegistrationYear:
          description: Year when the vehicle was first registered.
          type: integer
          format: int32
          minimum: 1800
          maximum: 9999
          example: 2020
        fuelType:
          description: Fuel type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/FuelType"
          example: hev-diesel
        furnitureTransporter:
          description: Flag indicating if a vehicle is a furniture transporter.
          type: boolean
          example: true
        gears:
          description: Number of gears of the vehicle.
          type: integer
          format: int32
          minimum: 1
          maximum: 99
          example: 6
        hadAccident:
          description: Flag indicating if a vehicle had an accident.
          type: boolean
          example: true
        hasAdditionalSetOfTires:
          description: Flag indicating if a vehicle has an additional set of tires.
          type: boolean
          example: true
        hasCrane:
          description: Flag indicating if a vehicle has a crane.
          type: boolean
          example: true
        hasNewTires:
          description: Flag indicating if a vehicle has new tires.
          type: boolean
          example: true
        hasTailLift:
          description: Flag indicating if a vehicle has a tail lift.
          type: boolean
          example: true
        hasTarpaulin:
          description: Flag indicating if a vehicle has a tarpaulin.
          type: boolean
          example: true
        hasWinch:
          description: Flag indicating if a vehicle has a winch.
          type: boolean
          example: true
        handicappedAccessible:
          description: Flag indicating if a vehicle is handicapped accessible.
          type: boolean
          example: true
        height:
          description: Height of the vehicle in cm.
          type: integer
          format: int32
          minimum: 1
          maximum: 29999
          example: 175
        horsePower:
          description: Horse power of the vehicle.
          type: integer
          format: int32
          minimum: 1
          maximum: 9999
          example: 199
        id:
          description: Unique identifier of the listing.
          type: integer
          format: int64
          example: 1923
        images:
          description: Listing images.
          type: array
          items:
            $ref: "#/components/schemas/Image"
        inspected:
          description: Flag indicating if a vehicle was inspected.
          type: boolean
          example: true
        interiorColor:
          description: Color of the vehicle interior.
          allOf:
            - $ref: "#/components/schemas/Color"
          example: red
        kiloWatts:
          description: Power the engine produces in kW.
          type: integer
          format: int32
          minimum: 1
          maximum: 9999
          example: 40
        lastInspectionDate:
          description: Date of the last inspection.
          type: string
          format: date
          example: '2020-12-15'
        length:
          description: Length of the vehicle in cm.
          type: integer
          format: int32
          example: 480
        licenseCategory:
          description: License category needed to operate the vehicle.
          allOf:
            - $ref: "#/components/schemas/LicenseCategory"
          example: c
        listPrice:
          description: Price of the vehicle when it was new.
          type: number
          format: double
          minimum: 1.0
          maximum: 9999999.0
          example: 65400
        make:
          $ref: "#/components/schemas/Make"
        metallic:
          description: Flag indicating if a vehicle has a metallic paint.
          type: boolean
          example: true
        mileage:
          description: Distance in km that the vehicle has run.
          type: integer
          format: int32
          minimum: 0
          maximum: 99999999
          example: 17500
        model:
          $ref: "#/components/schemas/Model"
        payload:
          description: Payload of the vehicle in kg.
          type: integer
          format: int32
          minimum: 1
          maximum: 29999
          example: 2000
        powerConsumption:
          description: Power consumption of the vehicle in kWh.
          type: number
          format: double
          minimum: 1.0
          maximum: 199.0
          example: 27.55
        previousPrice:
          description: Previous price of the vehicle.
          type: number
          format: double
          minimum: 1.0
          maximum: 9999999.0
          example: 55400
        price:
          description: Price of the vehicle.
          type: number
          format: double
          minimum: 1.0
          maximum: 9999999.0
          example: 47000
        racingVehicle:
          description: Flag indicating if a vehicle is a racing vehicle.
          type: boolean
          example: true
        qualiLogoId:
          description: Unique identifier of the Quali Logo.
          type: integer
          format: int64
          example: 1
        range:
          description: Range of the vehicle in km.
          type: integer
          format: int32
          minimum: 1
          maximum: 9999
          example: 650
        refrigerator:
          description: Flag indicating if a vehicle has a refrigerator.
          type: boolean
          example: true
        schoolBus:
          description: Flag indicating if a vehicle is a school bus.
          type: boolean
          example: true
        seats:
          description: Number of seats of the vehicle.
          type: integer
          format: int32
          minimum: 1
          maximum: 199
          example: 5
        sellerId:
          description: Unique identifier of the seller.
          type: integer
          format: int64
          example: 601
        sleepingBerths:
          description: Number of sleeping berths of the vehicle.
          type: integer
          format: int32
          minimum: 1
          maximum: 9
          example: 1
        teaser:
          description: Teaser or highlight of the listing to capture interest.
          type: string
          example: NEW NEW NEW
        towingCapacityBraked:
          description: Towing capacity of the vehicle when braked, measured in kilograms.
          type: integer
          format: int32
          minimum: 1
          maximum: 99999
          example: 1000
        transmissionType:
          description: The type of transmission in the vehicle (e.g., automatic, manual).
          allOf:
            - $ref: "#/components/schemas/TransmissionType"
          example: automatic
        transporter:
          description: A flag indicating whether the vehicle is designed as a transporter.
          type: boolean
          example: true
        tuned:
          description: A flag indicating whether the vehicle has been tuned for performance or aesthetics.
          type: boolean
          example: false
        vehicleCategory:
          description: The category or type of the vehicle (e.g., car, truck, SUV).
          allOf:
            - $ref: "#/components/schemas/VehicleCategory"
          example: car
        versionFullName:
          description: The full name of the vehicle’s version, including model and specifications.
          type: string
          maxLength: 128
          example: A6 3.0 55 TFSI quattro S-Tronic
        warranty:
          description: Details about the vehicle’s warranty, including terms and conditions.
          type: object
          properties:
            details:
              description: A description of the specific warranty details.
              type: string
              example: Up to 10k
            duration:
              description: The duration of the warranty in months.
              type: integer
              format: int32
              minimum: 1
              maximum: 199
              example: 24
            mileage:
              description: The maximum mileage covered by the warranty in kilometers.
              type: integer
              format: int32
              minimum: 1
              maximum: 9999999
              example: 10000
            startDate:
              description: The start date of the warranty in YYYY-MM-DD format.
              type: string
              format: date
              example: '2020-12-15'
            type:
              description: The type of warranty (e.g., from-date, from-mileage).
              allOf:
                - $ref: "#/components/schemas/WarrantyType"
              example: from-date
        weightCurb:
          description: The curb weight of the vehicle, measured in kilograms, excluding passengers and cargo.
          type: integer
          format: int32
          minimum: 1
          maximum: 29999
          example: 2000
        weightTotal:
          description: The total weight of the vehicle, measured in kilograms, including all components.
          type: integer
          format: int32
          minimum: 1
          maximum: 29999
          example: 2500
        width:
          description: The width of the vehicle in centimeters, typically measured at the widest point.
          type: integer
          format: int32
          minimum: 1
          maximum: 29999
          example: 180
    ListingEquipmentResponse:
      type: object
      properties:
        standard:
          type: array
          description: List of standard equipment of the vehicle.
          items:
            $ref: '#/components/schemas/Equipment'
          example:
            - name: "abs"
        optional:
          type: array
          description: List of optional equipment aof the vehicle.
          items:
            $ref: '#/components/schemas/Equipment'
          example:
            - name: "Assistance Package"
              packageItems:
                - name: "Adaptive Cruise Control"
        searchAttributes:
          type: array
          description: List of search attributes for filtering the vehicle equipment.
          items:
            $ref: '#/components/schemas/EquipmentSearchAttribute'
    ListingFacet:
      description: Defines a facet to retrieve for filtering or sorting purposes.
      type: object
      properties:
        name:
          $ref: "#/components/schemas/Facet"
      example:
        { "name": "makeKeys" }
    ListingFacets:
      description: Represents the request structure for retrieving listing facets based on the provided search query.
      required:
        - facets
      type: object
      properties:
        query:
          $ref: '#/components/schemas/ListingQuery'
        facets:
          description: List of facets to retrieve for filtering or categorization.
          type: array
          items:
            $ref: '#/components/schemas/ListingFacet'
    ListingSearch:
      description: Represents the request structure for searching listings.
      type: object
      properties:
        query:
          $ref: '#/components/schemas/ListingQuery'
        pagination:
          $ref: "#/components/schemas/Pageable"
        sort:
          description: Sorting options for the listing search result.
          type: array
          items:
            $ref: "#/components/schemas/ListingSort"
    ListingSearchResponse:
      description: Represents the response structure for a listing search query, including pagination and result metadata.
      type: object
      properties:
        content:
          type: array
          items:
            $ref: "#/components/schemas/ListingBaseResponse"
        empty:
          description: Flag indicating if the search result contains no items.
          type: boolean
          example: false
        numberOfElements:
          description: Number of elements in the current page of search results.
          type: integer
          format: int32
          example: 15
        size:
          description: Total number of elements requested for the search query.
          type: integer
          format: int32
          example: 20
        totalElements:
          description: Total number of elements that match the provided search criteria across all pages.
          type: integer
          format: int64
          example: 15
        first:
          description: Flag indicating if the current page is the first page of the search results.
          type: boolean
          example: true
        last:
          description: Flag indicating if the current page is the last page of the search results.
          type: boolean
          example: true
        number:
          description: Current page number in the search result.
          type: integer
          format: int32
          example: 0
        totalPages:
          description: Total number of pages available for the given search criteria.
          type: integer
          format: int32
          example: 1
    ListingSort:
      description: Defines the sorting criteria for the listing search results.
      required:
        - order
        - type
      type: object
      properties:
        type:
          description: Type of sorting to apply to the search results.
          type: string
          enum:
            - PRICE
            - MILEAGE
            - FIRST_REGISTRATION_DATE
            - MAKE_MODEL_A_Z
            - HORSE_POWER
            - CREATED_DATE
        order:
          description: Direction of the sorting order.
          type: string
          enum:
            - ASC
            - DESC
    ListingQuery:
      description: Represents the query parameters for filtering listings.
      type: object
      properties:
        ageFrom:
          description: Filter listings by age in days.
          type: integer
          format: int32
          example: 60
        batteryCapacityFrom:
          description: Filter listings by minimum battery capacity in kWh.
          type: number
          format: double
          example: 50.55
        batteryCapacityTo:
          description: Filter listings by maximum battery capacity in kWh.
          type: number
          format: double
          example: 150.55
        bodyColors:
          description: Filter listings by body colors.
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/Color'
          example: [ "blue", "white" ]
        bodyTypes:
          description: Filter listings by body types.
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/BodyType'
          example: [ "coupe", "suv" ]
        conditionTypes:
          description: Filter listings by condition types.
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/ConditionType'
          example: [ "new", "used" ]
        cubicCapacityFrom:
          description: Filter listings by minimum cubic capacity in cm³.
          type: integer
          format: int32
          example: 2000
        cubicCapacityTo:
          description: Filter listings by maximum cubic capacity in cm³.
          type: integer
          format: int32
          example: 3000
        cylindersFrom:
          description: Filter listings by minimum number of cylinders.
          type: integer
          format: int32
          example: 4
        cylindersTo:
          description: Filter listings by maximum number of cylinders.
          type: integer
          format: int32
          example: 6
        doorsFrom:
          description: Filter listings by minimum number of doors.
          type: integer
          format: int32
          example: 3
        doorsTo:
          description: Filter listings by maximum number of doors.
          type: integer
          format: int32
          example: 5
        driveSystems:
          description: Filter listings by drive systems.
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/DriveSystem'
          example: [ "belt", "chain" ]
        driveTypes:
          description: Filter listings by drive types.
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/DriveType'
          example: [ "rear", "all" ]
        equipmentSearchAttributes:
          description: Filter listings by specific equipment attributes.
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/EquipmentSearchAttribute'
          example: [ "abs", "air-condition", "adaptive-cruise-control" ]
        firstRegistrationDateFrom:
          description: Filter listings by the earliest first registration date.
          type: string
          format: date
          example: '2020-12-15'
        firstRegistrationDateTo:
          description: Filter listings by the latest first registration date.
          type: string
          format: date
          example: '2021-12-15'
        fuelTypes:
          description: Filter listings by fuel types.
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/FuelType'
          example: [ "electric", "petrol" ]
        hadNoAccidentOnly:
          description: Flag indicating if the listing had no accident.
          type: boolean
          example: false
        hasWarrantyOnly:
          description: Flag indicating if the listing includes a warranty.
          type: boolean
          example: true
        inspectedOnly:
          description: Flag indicating if the listing was inspected.
          type: boolean
          example: true
        kiloWattsFrom:
          description: Filter listings by minimum power in kW.
          type: integer
          format: int32
          example: 40
        kiloWattsTo:
          description: Filter listings by maximum power in kW.
          type: integer
          format: int32
          example: 250
        makeModelVersions:
          description: Filter listings by specific make and model combinations.
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/ListingQuery_MakeModelVersion'
          example: [ { "makeKey": "bmw", "modelGroupKey": "3-series", "modelKey": "320d" } ]
        mileageFrom:
          description: Filter listings by minimum mileage in km.
          type: integer
          format: int32
          example: 10000
        mileageTo:
          description: Filter listings by maximum mileage in km.
          type: integer
          format: int32
          example: 50000
        priceFrom:
          description: Filter listings by minimum price.
          type: number
          format: double
          example: 10000
        priceTo:
          description: Filter listings by maximum price.
          type: number
          format: double
          example: 50000
        rangeFrom:
          description: Filter listings by minimum range in km.
          type: integer
          format: int32
          example: 500
        rangeTo:
          description: Filter listings by maximum range in km.
          type: integer
          format: int32
          example: 1000
        seatsFrom:
          description: Filter listings by minimum number of seats.
          type: integer
          format: int32
          example: 2
        seatsTo:
          description: Filter listings by maximum number of seats.
          type: integer
          format: int32
          example: 5
        sellerIds:
          description: Filter listings by seller IDs.
          uniqueItems: true
          type: array
          items:
            type: integer
            format: int64
          example: [ 601 ]
        transmissionTypes:
          description: Filter listings by transmission types.
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/TransmissionType'
          example: [ "manual", "automatic-stepless" ]
        vehicleCategories:
          description: Filter listings by vehicle categories.
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/VehicleCategory"
          example: [ "car", "utility" ]
    ListingQuery_MakeModelVersion:
      description: Represents the make and model version for querying.
      type: object
      properties:
        makeKey:
          type: string
          example: "bmw"
        modelGroupKey:
          type: string
          example: "3-series"
        modelKey:
          type: string
          example: "320d"
    Make:
      description: Represents the data for the Make entity.
      type: object
      properties:
        key:
          description: Unique key of the make.
          type: string
          example: "audi"
        name:
          description: Display name of the make.
          type: string
          example: "Audi"
    MakeResponse:
      allOf:
        - $ref: "#/components/schemas/Page"
        - type: object
          properties:
            content:
              type: array
              items:
                $ref: "#/components/schemas/Make"
    MessageLead:
      description: Represents the request structure for a message lead.
      required:
        - email
        - firstName
        - lastName
        - message
        - phone
      type: object
      properties:
        email:
          description: Email address.
          maxLength: 255
          minLength: 0
          type: string
          example: info@autoscout24.ch
        firstName:
          description: First name.
          maxLength: 255
          minLength: 0
          type: string
          example: John
        lastName:
          description: Last name.
          maxLength: 255
          minLength: 0
          type: string
          example: Doe
        language:
          $ref: '#/components/schemas/Language'
        message:
          description: Message content.
          maxLength: 5000
          minLength: 0
          type: string
          example: I am interested in your car.
        phone:
          description: Phone number.
          maxLength: 32
          minLength: 0
          type: string
          example: +41761234567
    Model:
      description: Represents the data for the Model entity.
      type: object
      properties:
        key:
          description: Unique key of the model.
          type: string
          example: "a4-allroad"
        name:
          description: Display name of the model.
          type: string
          example: "A4 ALLROAD"
        group:
          $ref: "#/components/schemas/Model_ModelGroup"
    ModelResponse:
      allOf:
        - $ref: "#/components/schemas/Page"
        - type: object
          properties:
            content:
              type: array
              items:
                $ref: "#/components/schemas/Model"
    Model_ModelGroup:
      type: object
      properties:
        key:
          description: Unique key of the model group.
          type: string
          example: "a-series"
        name:
          description: Display name of the model group.
          type: string
          example: "A Series"
    PackageItem:
      type: object
      properties:
        name:
          description: Name of the equipment item.
          type: string
          example: Adaptive Cruise Control
    Page:
      type: object
      properties:
        empty:
          description: Indicates if the page is empty.
          type: boolean
          example: false
        numberOfElements:
          description: Actual number of elements in a page.
          type: integer
          format: int32
          example: 18
        size:
          description: Size of a page.
          type: integer
          format: int32
          example: 20
        totalElements:
          description: Total number of elements.
          type: integer
          format: int64
          example: 138
        first:
          description: Indicates if it's the first page.
          type: boolean
          example: false
        last:
          description: Indicates if it's the last page.
          type: boolean
          example: true
        number:
          description: Page number.
          type: integer
          format: int32
          example: 6
        totalPages:
          description: Total number of pages.
          type: integer
          format: int32
          example: 7
    Pageable:
      description: Represents the pageable request.
      type: object
      properties:
        size:
          description: Number of elements in a page.
          type: integer
          format: int32
          example: 20
        page:
          description: Page number.
          type: integer
          format: int32
          example: 0
    Phone:
      description: Represents the data for the Phone entity.
      type: object
      properties:
        number:
          description: Phone number.
          type: string
          example: "+41761234567"
        type:
          description: Type of phone number.
          allOf:
            - $ref: "#/components/schemas/PhoneType"
          example: business
    PhoneType:
      description: Type of phone number.
      type: string
      enum:
        - business
        - car
        - fax
        - mobile
        - new-car
        - private
        - sales
        - showroom
        - twenty-four-hours-hotline
        - used-car
        - utility-vehicles
        - whats-app
    QualiLogo:
      description: Represents the data for the Quali Logo entity.
      type: object
      properties:
        id:
          description: Quali Logo's ID.
          type: integer
          format: int64
          example: 12
        imageKey:
          description: Image relative URL.
          type: string
          example: "/qualilogos/12.svg"
    QualiLogoResponse:
      description: Represents Quali Logo response.
      type: object
      properties:
        id:
          description: Quali Logo's ID.
          type: integer
          format: int64
          example: 12
        imageKey:
          description: Image relative URL.
          type: string
          example: "/qualilogos/12.svg"
        name:
          description: Localized name of the logo.
          type: string
          example: "AutoScout verified"
        url:
          description: Localized URL.
          type: string
          example: "https://www.autoscout24.ch/de/s"
    ReferenceDataResponse:
      description: Represents the reference data for vehicle attributes.
      type: object
      properties:
        bodyTypes:
          description: Vehicle body types.
          type: array
          items:
            $ref: "#/components/schemas/BodyType"
        conditionTypes:
          description: Vehicle condition types.
          type: array
          items:
            $ref: "#/components/schemas/ConditionType"
        colors:
          description: Vehicle colors.
          type: array
          items:
            $ref: "#/components/schemas/Color"
        driveTypes:
          description: Vehicle drive types.
          type: array
          items:
            $ref: "#/components/schemas/DriveType"
        equipmentSearchAttributes:
          description: Vehicle equipment search attributes.
          type: array
          items:
            $ref: "#/components/schemas/EquipmentSearchAttribute"
        equipmentSearchAttributeGroups:
          description: Vehicle equipment search attribute groups.
          type: array
          items:
            $ref: "#/components/schemas/EquipmentSearchAttributeGroup"
        equipmentSearchAttributeGroupMapping:
          description: Mapping between EquipmentSearchAttribute and EquipmentSearchAttributeGroup.
          type: object
          additionalProperties:
            type: string
            nullable: true
          example:
            "xenon-headlights": "headlights"
        fuelTypes:
          description: Vehicle fuel types.
          type: array
          items:
            $ref: "#/components/schemas/FuelType"
        transmissionTypes:
          description: Vehicle transmission types.
          type: array
          items:
            $ref: "#/components/schemas/TransmissionType"
    SellerResponse:
      description: Represents a set of fields for Seller object.
      properties:
        address:
          description: The address of the seller.
          type: string
          example: "Bahnhofstrasse 123b"
        city:
          description: The city where the seller is located.
          type: string
          example: "Zurich"
        id:
          description: Unique identifier for the seller.
          type: integer
          format: int64
          example: 1923
        name:
          description: Name of the seller.
          type: string
          example: "John Seller LLC"
        phone:
          description: Primary phone number of the seller.
          type: string
          example: "+41761234567"
        phones:
          description: All phone numbers associated with the seller.
          type: array
          items:
            $ref: "#/components/schemas/Phone"
        zipCode:
          description: Postal code of the seller's location.
          type: string
          example: "8080"
    SellerListing:
      description: Represents a set of fields for Seller's Listing objects.
      properties:
        availableForLeasing:
          description: Flag indicating if the listing is available for leasing.
          type: boolean
          example: false
        bodyType:
          description: Shape of the vehicle body.
          allOf:
            - $ref: "#/components/schemas/BodyType"
          example: estate
        certificationNumber:
          description: Registration document number; in Swiss market known as Typenscheinnummer.
          type: string
          minLength: 6
          maxLength: 6
          pattern: '^\w{6}$'
          example: "1AE899"
        cubicCapacity:
          description: Volume of the engine's cylinders in cubic centimeters.
          type: integer
          format: int32
          minimum: 1
          maximum: 29999
          example: 2995
        cylinders:
          description: Number of cylinders of the engine.
          type: integer
          format: int32
          minimum: 1
          maximum: 99
          example: 6
        doors:
          description: Number of doors of the vehicle.
          type: integer
          format: int32
          minimum: 1
          maximum: 9
          example: 5
        driveType:
          description: Drive type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/DriveType"
          example: all
        firstRegistrationDate:
          description: The date when the vehicle was first registered.
          type: string
          format: date
          example: '2020-12-15'
        firstRegistrationYear:
          description: The year when the vehicle was first registered.
          type: integer
          format: int32
          minimum: 1800
          maximum: 9999
          example: 2020
        fuelType:
          description: Fuel type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/FuelType"
          example: petrol
        id:
          description: Unique identifier for the listing.
          type: integer
          format: int64
          example: 1620023
        images:
          description: List of images associated with the listing.
          type: array
          items:
            $ref: "#/components/schemas/Image"
        kiloWatts:
          description: Power produced by the engine in kilowatts (kW).
          type: integer
          format: int32
          minimum: 1
          maximum: 9999
          example: 250
        listPrice:
          description: List price of the vehicle.
          type: number
          format: double
          minimum: 1.0
          maximum: 9999999.0
          example: 65400
        live:
          description: Flag indicating if the listing is currently live.
          type: boolean
          example: true
        makeKey:
          description: Unique key for the vehicle's make.
          type: string
          minLength: 1
          maxLength: 64
          example: audi
        mileage:
          description: The distance in kilometers that the vehicle has been driven.
          type: integer
          format: int32
          minimum: 0
          maximum: 99999999
          example: 17500
        modelKey:
          description: Unique key for the model within the make.
          type: string
          minLength: 1
          maxLength: 64
          example: a6
        price:
          description: Current price of the vehicle.
          type: number
          format: double
          minimum: 1.0
          maximum: 9999999.0
          example: 47000
        seats:
          description: The number of seats in the vehicle.
          type: integer
          format: int32
          minimum: 1
          maximum: 199
          example: 5
        sellerId:
          description: Unique identifier for the seller of the listing.
          type: integer
          format: int64
          example: 601
        transmissionType:
          description: Transmission type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/TransmissionType"
          example: automatic
        tuned:
          description: Flag indicating if the vehicle has been tuned for better performance.
          type: boolean
          example: false
        vehicleCategory:
          description: Category of the vehicle (e.g., car, truck, motorcycle).
          allOf:
            - $ref: "#/components/schemas/VehicleCategory"
          example: car
        versionFullName:
          description: Full version name of the vehicle.
          type: string
          maxLength: 128
          example: A6 3.0 55 TFSI quattro S-Tronic
        versionId:
          description: Unique identifier for the version of the vehicle.
          type: integer
          format: int64
          example: 100201
    SellerListingPage:
      description: Represents a page of Listing entities.
      allOf:
        - $ref: "#/components/schemas/Page"
        - type: object
          properties:
            content:
              description: List of listing entries on the current page.
              type: array
              items:
                $ref: "#/components/schemas/SellerListing"
    TransmissionType:
      type: string
      enum:
        - automatic
        - automatic-stepless
        - semi-automatic
        - manual
    VehicleCategoriesResponse:
      type: object
      properties:
        vehicleCategories:
          description: List of retrieved vehicle categories.
          type: array
          items:
            $ref: '#/components/schemas/VehicleCategory'
    VehicleCategory:
      type: string
      enum:
        - car
        - utility
        - motorcycle
        - truck
        - camper
        - trailer
    VersionShared:
      description: Represents a shared set of fields for different Version objects.
      properties:
        source:
          description: The source of the version data.
          allOf:
            - $ref: "#/components/schemas/VersionSource"
          example: eurotax
        externalId:
          description: External ID of the version, provided by a data provider as the key/identifier.
          type: string
          maxLength: 64
          example: "100200401"
    VersionSource:
      description: Represents the source of the version data.
      type: string
      enum:
        - eurotax
        - auto-i
      example: eurotax
    WarrantyType:
      description: Type of warranty.
      type: string
      enum:
        - from-date
        - from-delivery
        - first-registration
        - none
      example: from-date
  securitySchemes:
    BearerAuth:
      bearerFormat: auth-scheme
      description: "Bearer HTTP authentication (Authorization: Bearer <access_token>)"
      scheme: bearer
      type: http
