openapi: 3.0.3
info:
  contact:
    email: info@autoscout24.ch
    name: AutoScout24 Engineering Team
    url: https://developers.autoscout24.ch
  description: Explore the versatile AutoScout24 REST API for seamless integration.
  title: AutoScout24 API
  version: 1.0.1

servers:
  - url: "https://api.autoscout24.ch"

security:
  - BearerAuth: [ ]

tags:
  - name: Listing
  - name: Listing Equipment
  - name: Listing Search
  - name: Make
  - name: Model
  - name: Quali Logo
  - name: Reference Data
  - name: Seller
  - name: Version
paths:
  /public/v1/listings/{listingId}:
    get:
      tags:
        - Listing
      description: Returns localized listing.
      operationId: GetListing
      parameters:
        - name: listingId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - $ref: "#/components/parameters/languageParam"
      responses:
        "200":
          description: Listing successfully returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingResponse'
  /public/v1/listings/facets:
    post:
      tags:
        - Listing Search
      description: Retrieve facets based on specified query parameters.
      operationId: GetFacets
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListingFacets"
        required: true
      responses:
        "200":
          description: Facets successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FacetsResponse"
  /public/v1/listings/{listingId}/equipment:
    get:
      tags:
        - Listing Equipment
      description: Returns localized listing equipment.
      operationId: GetListingEquipment
      parameters:
        - name: listingId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - $ref: "#/components/parameters/languageParam"
      responses:
        "200":
          description: Listing equipment successfully returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListingEquipmentResponse'
  /public/v1/makes:
    get:
      operationId: GetMakes
      description: Returns a sorted list of makes for a vehicle category.
      tags:
        - Make
      parameters:
        - $ref: "#/components/parameters/vehicleCategoryQueryParam"
        - $ref: "#/components/parameters/pageQueryParam"
        - $ref: "#/components/parameters/sizeQueryParam"
      responses:
        "200":
          description: Makes for a vehicle category returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MakeResponse"
  /public/v1/makes/key/{makeKey}/models:
    get:
      tags:
        - Model
      description: Returns a sorted list of models by makeKey and vehicleCategory.
      operationId: GetModels
      parameters:
        - name: makeKey
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/vehicleCategoryQueryParam"
        - $ref: "#/components/parameters/pageQueryParam"
        - $ref: "#/components/parameters/sizeQueryParam"
      responses:
        "200":
          description: Models for a makeKey and vehicle category returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelResponse"
  /public/v1/quali-logos/{qualiLogoId}:
    get:
      tags:
        - Quali Logo
      description: Returns Quali Logo.
      operationId: GetQualiLogo
      parameters:
        - name: qualiLogoId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - $ref: "#/components/parameters/languageParam"
      responses:
        "200":
          description: Quali Logo successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QualiLogoResponse"
  /public/v1/reference-data:
    get:
      tags:
        - Reference Data
      description: Returns reference data.
      operationId: GetReferenceData
      parameters:
        - name: vehicleCategory
          in: query
          description: Filter reference data by vehicle category.
          required: false
          schema:
            $ref: "#/components/schemas/VehicleCategory"
      responses:
        "200":
          description: Reference data successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReferenceDataResponse"
  /public/v1/sellers/{sellerId}:
    get:
      operationId: GetSellersSellerId
      description: Returns a seller for the specified seller ID.
      tags:
        - Seller
      parameters:
        - $ref: '#/components/parameters/sellerIdPathParam'
      responses:
        "200":
          description: Seller returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SellerResponse"
  /public/v1/sellers/{sellerId}/listings:
    get:
      operationId: GetSellersSellerIdListings
      description: Returns a page of listings for the specified seller ID.
      tags:
        - Listing
      parameters:
        - $ref: '#/components/parameters/sellerIdPathParam'
        - $ref: "#/components/parameters/pageQueryParam"
        - $ref: "#/components/parameters/sizeQueryParam"
      responses:
        "200":
          description: Listings returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SellerListingPage"
  /public/v1/sellers/{sellerId}/listings/{listingId}:
    get:
      operationId: GetSellersSellerIdListingsListingId
      description: Returns a listing for the specified seller ID and listing ID.
      tags:
        - Listing
      parameters:
        - $ref: '#/components/parameters/sellerIdPathParam'
        - $ref: '#/components/parameters/listingIdPathParam'
      responses:
        "200":
          description: Listing returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SellerListing"
  /public/v1/vehicle-categories:
    get:
      tags:
        - Reference Data
      description: Returns vehicle categories.
      operationId: GetVehicleCategories
      responses:
        "200":
          description: Vehicle categories successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VehicleCategoriesResponse"
  /public/v1/versions/{versionId}:
    get:
      operationId: GetVersionsVersionId
      description: Returns a version for the specified version ID.
      tags:
        - Version
      parameters:
        - $ref: '#/components/parameters/versionIdPathParam'
      responses:
        "200":
          description: Version returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/VersionShared"
components:
  parameters:
    languageParam:
      in: query
      name: language
      description: Specify the language (defaults to German).
      required: false
      schema:
        $ref: '#/components/schemas/Language'
    listingIdPathParam:
      in: path
      name: listingId
      description: Listing ID.
      required: true
      schema:
        type: integer
        format: int64
      example: 1620023
    pageQueryParam:
      in: query
      name: page
      description: Specify the page number for data retrieval (defaults to 0).
      required: false
      schema:
        type: integer
        format: int32
        minimum: 0
        maximum: 999999
        default: 0
      example: 0
    sellerIdPathParam:
      in: path
      name: sellerId
      description: Seller ID.
      required: true
      schema:
        type: integer
        format: int64
      example: 1923
    sizeQueryParam:
      in: query
      name: size
      description: Number of records per page (defaults to 20, maximum 2000).
      required: false
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2000
        default: 20
      example: 20
    vehicleCategoryQueryParam:
      in: query
      name: vehicleCategory
      description: Vehicle category to retrieve.
      required: true
      schema:
        $ref: "#/components/schemas/VehicleCategory"
    versionIdPathParam:
      in: path
      name: versionId
      description: Version ID.
      required: true
      schema:
        type: integer
        format: int64
      example: 1923
  schemas:
    BodyType:
      type: string
      enum:
        - alcove
        - atv-quad
        - boat-trailer
        - box
        - box-double-cab
        - box-glazed
        - bridge
        - bridge-double-cab
        - bus
        - cab-over
        - cabin
        - cabriolet
        - car
        - caravan
        - car-trailer
        - car-transporter
        - chassis-cab
        - chopper
        - construction-trailer
        - coupe
        - custom-bike
        - e-bike
        - estate
        - horse-trailer
        - integrated
        - livestock-trailer
        - low-bed-trailer
        - minivan
        - moped
        - motocross-bike
        - motorcycle-trailer
        - motorhome
        - naked-bike
        - off-road-bike
        - other
        - pickup
        - platform
        - reefer
        - sales-trailer
        - saloon
        - sanitary-trailer
        - scooter
        - semi-integrated
        - semi-trailer
        - sidecar
        - small-car
        - snowmobile
        - special-vehicles-trailer
        - street-bike
        - suitcase
        - supermoto
        - suv
        - tank-body
        - tipper
        - touring
        - trailer
        - trike
        - uploader
        - wood-transporter
    ChargingPlugType:
      type: string
      enum:
        - type-1
        - type-2
    Color:
      type: string
      enum:
        - anthracite
        - beige
        - black
        - blue
        - bordeaux
        - brown
        - gray
        - gold
        - green
        - multicolored
        - orange
        - pink
        - red
        - silver
        - turquoise
        - violet
        - white
        - yellow
        - other
    ConditionType:
      type: string
      enum:
        - new
        - used
        - demonstration
        - oldtimer
        - pre-registered
    CylinderArrangement:
      type: string
      enum:
        - inline
        - flat
        - v
        - vr
        - rotary
        - monobloc
        - w
    DriveSystem:
      type: string
      enum:
        - belt
        - chain
        - shaft
        - direct
    DriveType:
      type: string
      enum:
        - rear
        - front
        - all
    EmissionStandard:
      type: string
      enum:
        - euro-1
        - euro-2
        - euro-3
        - euro-4
        - euro-5
        - euro-5-plus
        - euro-6
        - euro-6a
        - euro-6b
        - euro-6c
        - euro-6d
        - euro-6d-temp
        - euro-6d-temp-evap
        - euro-6d-temp-evap-isc
        - euro-6d-temp-isc
        - euro-6d-isc
        - euro-6d-isc-fcm
        - euro-6e
    EnergyLabel:
      type: string
      enum:
        - a
        - b
        - c
        - d
        - e
        - f
        - g
    Equipment:
      type: object
      properties:
        name:
          type: string
          description: Name of the equipment item or package.
        packageItems:
          type: array
          description: Equipment items included in the package.
          items:
            $ref: '#/components/schemas/PackageItem'
          nullable: true
    EquipmentSearchAttribute:
      type: string
      enum:
        - abs
        - active-brake-assistant
        - adaptive-cruise-control
        - adaptive-headlights
        - additional-instrumentation
        - air-condition
        - air-suspension
        - alarm-system
        - alcantara
        - alloy-wheels
        - android-auto
        - anti-theft-device
        - apple-carplay
        - assisted-parking
        - audio-system
        - automatic-air-condition
        - auxiliary-heating
        - backrest
        - blind-spot-system
        - bluetooth-interface
        - 360-camera
        - catalytic-converter
        - chrome-parts
        - cloth-seats
        - cover
        - crash-bar
        - cruise-control
        - custom-exhaust
        - custom-handlebar
        - dab-radio
        - detachable-towbar
        - differential-locking
        - double-disc-brake
        - double-seat
        - electric-seat
        - electric-tailgate
        - esp
        - fast-charging
        - floorboard
        - full-partial-casing
        - hands-free-set
        - hardtop
        - head-up-display
        - heated-grips
        - heated-seats
        - hydraulic-system
        - isofix
        - keyless
        - kitchen
        - lane-assistant
        - laser-headlights
        - leather-seats
        - led
        - liftgate
        - luggage-rack
        - navigation
        - panorama-roof
        - parking-sensor-front
        - parking-sensor-rear
        - partial-leather-seats
        - portable-navigation-system
        - rear-camera
        - reinforced-suspension
        - retarder-intarder
        - retractable-towbar
        - saddlebag
        - shower
        - sliding-door
        - solo-seat
        - speaker
        - special-paint
        - spoked-wheels
        - sport-seats
        - start-stop-system
        - suitcase
        - sunroof
        - tank-bag
        - toilet
        - top-case
        - towbar
        - traction-control
        - tv
        - twin-headlights
        - ventilated-seats
        - windshield
        - wing-doors
        - xenon-headlights
        - electric-windows
    EquipmentSearchAttributeGroup:
      type: string
      enum:
        - air-condition
        - headlights
        - navigation-system
        - seat-covers
        - towbar
    Facet:
      type: string
      enum:
        - makeKeys
        - modelGroupKeys
        - modelKeys
    FacetsResponse:
      description: Retrieved facets.
      type: object
      properties:
        facets:
          description: Retrieved facets.
          type: object
          additionalProperties:
            description: Facet name.
            type: object
            additionalProperties:
              description: Facet value.
              type: integer
              format: int64
      example: { "makeKeys": { "audi": 100, "bmw": 200 } }
    FastChargingPlugType:
      type: string
      enum:
        - ccs
        - ccs-2
        - chademo
        - supercharger
    FuelType:
      type: string
      enum:
        - cng-petrol
        - diesel
        - electric
        - ethanol-petrol
        - hev-diesel
        - hev-petrol
        - hydrogen
        - lpg-petrol
        - mhev-diesel
        - mhev-petrol
        - petrol
        - phev-diesel
        - phev-petrol
        - two-stroke-mixture
    Image:
      description: Represents the data for the Image entity.
      properties:
        url:
          description: URL of the image.
          type: string
          format: uri
          example: https://images.autoscout24.ch/853/11878853/0.jpg
    Language:
      type: string
      enum:
        - de
        - fr
        - it
    LicenseCategory:
      type: string
      enum:
        - a
        - a1
        - a-
        - b
        - b1
        - c
        - c1
        - f
        - m
    ListingResponse:
      type: object
      properties:
        axis:
          description: Number of axles of the vehicle.
          type: integer
          format: int32
          minimum: 1
          maximum: 6
          example: 2
        batteryCapacity:
          description: Capacity of the battery in kWh.
          type: number
          format: double
          minimum: 1.0
          maximum: 999.0
          example: 150.55
        bodyColor:
          description: Color of the vehicle body.
          allOf:
            - $ref: "#/components/schemas/Color"
          example: blue
        bodyType:
          description: Shape of the vehicle body.
          allOf:
            - $ref: "#/components/schemas/BodyType"
          example: coupe
        boot:
          description: Boot dimensions.
          type: object
          properties:
            height:
              description: Height of the boot in cm.
              type: integer
              format: int32
              example: 120
            length:
              description: Length of the boot in cm.
              type: integer
              format: int32
              example: 250
            volume:
              description: Volume of the boot in liters.
              type: number
              format: double
              example: 800.55
            width:
              description: Width of the boot in cm.
              type: integer
              format: int32
              example: 150
        certificationNumber:
          description: Registration document number; in Swiss market known as Typenscheinnummer.
          type: string
          minLength: 6
          maxLength: 6
          pattern: '^\w{6}$'
          example: 1AE899
        chargingPlugType:
          description: Type of the charging plug.
          allOf:
            - $ref: "#/components/schemas/ChargingPlugType"
          example: type-1
        chargingPower:
          description: Charging power in kW.
          type: number
          format: double
          minimum: 1.0
          maximum: 199.0
          example: 2.15
        chargingTime0To100:
          description: Charging time from 0 to 100% in minutes.
          type: integer
          format: int32
          minimum: 1
          maximum: 9999
          example: 99
        chargingTime0To80:
          description: Charging time from 0 to 80% in minutes.
          type: integer
          format: int32
          minimum: 1
          maximum: 9999
          example: 72
        co2Emission:
          description: CO2 emission in g/km.
          type: integer
          format: int32
          minimum: 0
          maximum: 9999
          example: 42
        combustionEngineHorsePower:
          description: Horse power of the combustion engine.
          type: integer
          format: int32
          minimum: 0
          maximum: 9999
          example: 150
        conditionType:
          description: Condition type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/ConditionType"
          example: demonstration
        consumption:
          type: object
          properties:
            combined:
              description: Total fuel consumption in l/100km.
              type: number
              format: double
              example: 8.55
            extraUrban:
              description: Extra urban fuel consumption in l/100km.
              type: number
              format: double
              example: 6.55
            urban:
              description: Urban fuel consumption in l/100km.
              type: number
              format: double
              example: 10.55
        cubicCapacity:
          description: Volume of the engines cylinders in cubic centimeters.
          type: integer
          format: int32
          minimum: 1
          maximum: 29999
          example: 2000
        cylinderArrangement:
          description: Arrangement of the cylinders.
          allOf:
            - $ref: "#/components/schemas/CylinderArrangement"
          example: v
        cylinders:
          description: Number of cylinders of the engine.
          type: integer
          format: int32
          minimum: 1
          maximum: 99
          example: 6
        description:
          description: Description of the listing.
          type: string
          example: Awesome car!
        directImport:
          description: Flag indicating if the vehicle was imported by the official seller.
          type: boolean
          example: true
        doors:
          description: Number of doors of the vehicle.
          type: integer
          format: int32
          minimum: 1
          maximum: 9
          example: 5
        driveSystem:
          description: Drive system of the vehicle.
          allOf:
            - $ref: "#/components/schemas/DriveSystem"
          example: belt
        driveType:
          description: Drive type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/DriveType"
          example: all
        electricMotorHorsePower:
          description: Horse power of the electric motor.
          type: integer
          format: int32
          minimum: 0
          maximum: 9999
          example: 49
        emissionStandard:
          description: Emission standard of the vehicle.
          allOf:
            - $ref: "#/components/schemas/EmissionStandard"
          example: euro-6
        energyLabel:
          description: Energy label of the vehicle.
          allOf:
            - $ref: "#/components/schemas/EnergyLabel"
          example: a
        fastChargingPlugType:
          description: Type of the fast charging plug.
          allOf:
            - $ref: "#/components/schemas/FastChargingPlugType"
          example: ccs
        fastChargingPower:
          description: Fast charging power in kW.
          type: number
          format: double
          minimum: 1
          maximum: 999
          example: 50.55
        fastChargingTime0To100:
          description: Fast charging time from 0 to 100% in minutes.
          type: integer
          format: int32
          minimum: 1
          maximum: 9999
          example: 28
        fastChargingTime0To80:
          description: Fast charging time from 0 to 80% in minutes.
          type: integer
          format: int32
          minimum: 1
          maximum: 9999
          example: 23
        firstRegistrationDate:
          description: First registration date of the vehicle.
          type: string
          format: date
          example: '2020-12-15'
        firstRegistrationYear:
          description: Year when the vehicle was first registered.
          type: integer
          format: int32
          minimum: 1800
          maximum: 9999
          example: 2020
        fuelType:
          description: Fuel type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/FuelType"
          example: hev-diesel
        furnitureTransporter:
          description: Flag indicating if a vehicle is a furniture transporter.
          type: boolean
          example: true
        gears:
          description: Number of gears of the vehicle.
          type: integer
          format: int32
          minimum: 1
          maximum: 99
          example: 6
        hadAccident:
          description: Flag indicating if a vehicle had an accident.
          type: boolean
          example: true
        hasAdditionalSetOfTires:
          description: Flag indicating if a vehicle has an additional set of tires.
          type: boolean
          example: true
        hasCrane:
          description: Flag indicating if a vehicle has a crane.
          type: boolean
          example: true
        hasNewTires:
          description: Flag indicating if a vehicle has new tires.
          type: boolean
          example: true
        hasTailLift:
          description: Flag indicating if a vehicle has a tail lift.
          type: boolean
          example: true
        hasTarpaulin:
          description: Flag indicating if a vehicle has a tarpaulin.
          type: boolean
          example: true
        hasWinch:
          description: Flag indicating if a vehicle has a winch.
          type: boolean
          example: true
        handicappedAccessible:
          description: Flag indicating if a vehicle is handicapped accessible.
          type: boolean
          example: true
        height:
          description: Height of the vehicle in cm.
          type: integer
          format: int32
          minimum: 1
          maximum: 29999
          example: 175
        horsePower:
          description: Horse power of the vehicle.
          type: integer
          format: int32
          minimum: 1
          maximum: 9999
          example: 199
        id:
          description: Unique identifier of the listing.
          type: integer
          format: int64
          example: 1923
        images:
          description: Listing images.
          type: array
          items:
            $ref: "#/components/schemas/Image"
        inspected:
          description: Flag indicating if a vehicle was inspected.
          type: boolean
          example: true
        interiorColor:
          description: Color of the vehicle interior.
          allOf:
            - $ref: "#/components/schemas/Color"
          example: red
        kiloWatts:
          description: Power the engine produces in kW.
          type: integer
          format: int32
          minimum: 1
          maximum: 9999
          example: 40
        lastInspectionDate:
          description: Date of the last inspection.
          type: string
          format: date
          example: '2020-12-15'
        length:
          description: Length of the vehicle in cm.
          type: integer
          format: int32
          example: 480
        licenseCategory:
          description: License category needed to operate the vehicle.
          allOf:
            - $ref: "#/components/schemas/LicenseCategory"
          example: c
        listPrice:
          description: Price of the vehicle when it was new.
          type: number
          format: double
          minimum: 1.0
          maximum: 9999999.0
          example: 65400
        make:
          $ref: "#/components/schemas/Make"
        metallic:
          description: Flag indicating if a vehicle has a metallic paint.
          type: boolean
          example: true
        mileage:
          description: Distance in km that the vehicle has run.
          type: integer
          format: int32
          minimum: 0
          maximum: 99999999
          example: 17500
        model:
          $ref: "#/components/schemas/Model"
        payload:
          description: Payload of the vehicle in kg.
          type: integer
          format: int32
          minimum: 1
          maximum: 29999
          example: 2000
        powerConsumption:
          description: Power consumption of the vehicle in kWh.
          type: number
          format: double
          minimum: 1.0
          maximum: 199.0
          example: 27.55
        previousPrice:
          description: Previous price of the vehicle.
          type: number
          format: double
          minimum: 1.0
          maximum: 9999999.0
          example: 55400
        price:
          description: Price of the vehicle.
          type: number
          format: double
          minimum: 1.0
          maximum: 9999999.0
          example: 47000
        racingVehicle:
          description: Flag indicating if a vehicle is a racing vehicle.
          type: boolean
          example: true
        qualiLogoId:
          description: Unique identifier of the Quali Logo.
          type: integer
          format: int64
          example: 1
        range:
          description: Range of the vehicle in km.
          type: integer
          format: int32
          minimum: 1
          maximum: 9999
          example: 650
        refrigerator:
          description: Flag indicating if a vehicle has a refrigerator.
          type: boolean
          example: true
        schoolBus:
          description: Flag indicating if a vehicle is a school bus.
          type: boolean
          example: true
        seats:
          description: Number of seats of the vehicle.
          type: integer
          format: int32
          minimum: 1
          maximum: 199
          example: 5
        sellerId:
          description: Unique identifier of the seller.
          type: integer
          format: int64
          example: 601
        sleepingBerths:
          description: Number of sleeping berths of the vehicle.
          type: integer
          format: int32
          minimum: 1
          maximum: 9
          example: 1
        teaser:
          description: Teaser of the listing.
          type: string
          example: NEW NEW NEW
        towingCapacityBraked:
          description: Towing capacity of the vehicle when braked in kg.
          type: integer
          format: int32
          minimum: 1
          maximum: 99999
          example: 1000
        transmissionType:
          description: Transmission type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/TransmissionType"
          example: automatic
        transmissionTypeGroup:
          description: Transmission type group of the vehicle.
          allOf:
            - $ref: "#/components/schemas/TransmissionTypeGroup"
          example: automatic
        transporter:
          description: Flag indicating if a vehicle is a transporter.
          type: boolean
          example: true
        tuned:
          description: Flag indicating if the vehicle was altered to make it nicer or faster.
          type: boolean
          example: false
        vehicleCategory:
          description: Category of the vehicle.
          allOf:
            - $ref: "#/components/schemas/VehicleCategory"
          example: car
        versionFullName:
          description: Full version name of the vehicle.
          type: string
          maxLength: 128
          example: A6 3.0 55 TFSI quattro S-Tronic
        warranty:
          description: Warranty of the vehicle.
          type: object
          properties:
            details:
              description: Details of the warranty.
              type: string
              example: Up to 10k
            duration:
              description: Duration of the warranty in months.
              type: integer
              format: int32
              minimum: 1
              maximum: 199
              example: 24
            mileage:
              description: Mileage of the warranty in km.
              type: integer
              format: int32
              minimum: 1
              maximum: 9999999
              example: 10000
            startDate:
              description: Start date of the warranty.
              type: string
              format: date
              example: '2020-12-15'
            type:
              description: Type of the warranty.
              allOf:
                - $ref: "#/components/schemas/WarrantyType"
              example: from-date
        weightCurb:
          description: Curb weight of the vehicle in kg.
          type: integer
          format: int32
          minimum: 1
          maximum: 29999
          example: 2000
        weightTotal:
          description: Total weight of the vehicle in kg.
          type: integer
          format: int32
          minimum: 1
          maximum: 29999
          example: 2500
        width:
          description: Width of the vehicle in cm.
          type: integer
          format: int32
          minimum: 1
          maximum: 29999
          example: 180
    ListingEquipmentResponse:
      type: object
      properties:
        standard:
          type: array
          description: Standard equipment.
          items:
            $ref: '#/components/schemas/Equipment'
          example:
            name: "ABS"
        optional:
          type: array
          description: Optional equipment.
          items:
            $ref: '#/components/schemas/Equipment'
          example:
            name: "Assistance Package"
            packageItems:
              - name: "Adaptive Cruise Control"
        searchAttributes:
          type: array
          description: Search attributes.
          items:
            $ref: '#/components/schemas/EquipmentSearchAttribute'
    ListingFacet:
      description: Definition of facet to retrieve.
      type: object
      properties:
        name:
          $ref: "#/components/schemas/Facet"
      example: { "name": "makeKeys" }
    ListingFacets:
      description: Represents the request structure for listing facets.
      required:
        - facets
      type: object
      properties:
        query:
          $ref: '#/components/schemas/ListingQuery'
        facets:
          description: Facets to retrieve.
          type: array
          items:
            $ref: '#/components/schemas/ListingFacet'
    ListingQuery:
      description: Represents the query parameters for filtering listings.
      type: object
      properties:
        fuelTypes:
          description: Filter listings by fuel types.
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/FuelType'
          example: [ "electric", "petrol" ]
        makeModelVersions:
          description: Filter listings by make and model combinations.
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/ListingQuery_MakeModelVersion'
          example: [ { "makeKey": "bmw", "modelGroupKey": "3-series", "modelKey": "320d" } ]
        vehicleCategories:
          description: Filter listings by vehicle categories.
          uniqueItems: true
          type: array
          items:
            $ref: "#/components/schemas/VehicleCategory"
          example: [ "car", "utility" ]
    ListingQuery_MakeModelVersion:
      description: Represents the make and model version for querying.
      type: object
      properties:
        makeKey:
          type: string
          example: "bmw"
        modelGroupKey:
          type: string
          example: "3-series"
        modelKey:
          type: string
          example: "320d"
    Make:
      description: Represents the data for the Make entity.
      type: object
      properties:
        key:
          description: Unique key of the make.
          type: string
          example: "audi"
        name:
          description: Display name of the make.
          type: string
          example: "Audi"
    MakeResponse:
      allOf:
        - $ref: "#/components/schemas/Page"
        - type: object
          properties:
            content:
              type: array
              items:
                $ref: "#/components/schemas/Make"
    Model:
      description: Represents the data for the Model entity.
      type: object
      properties:
        key:
          description: Unique key of the model.
          type: string
          example: "a4-allroad"
        name:
          description: Display name of the model.
          type: string
          example: "A4 ALLROAD"
        group:
          $ref: "#/components/schemas/Model_ModelGroup"
    ModelResponse:
      allOf:
        - $ref: "#/components/schemas/Page"
        - type: object
          properties:
            content:
              type: array
              items:
                $ref: "#/components/schemas/Model"
    Model_ModelGroup:
      type: object
      properties:
        key:
          type: string
          example: "a-series"
        name:
          type: string
          example: "A Series"
    PackageItem:
      type: object
      properties:
        name:
          type: string
          description: Name of the equipment item.
          example: Adaptive Cruise Control
    Page:
      type: object
      properties:
        empty:
          type: boolean
          example: false
        numberOfElements:
          description: Actual number of elements in a page.
          type: integer
          format: int32
          example: 18
        size:
          description: Size of a page.
          type: integer
          format: int32
          example: 20
        totalElements:
          description: Total number of elements.
          type: integer
          format: int64
          example: 138
        first:
          description: Is first page.
          type: boolean
          example: false
        last:
          description: Is last page.
          type: boolean
          example: true
        number:
          description: Page number.
          type: integer
          format: int32
          example: 6
        totalPages:
          description: Total number of pages.
          type: integer
          format: int32
          example: 7
    Phone:
      description: Represents the data for the Phone entity.
      type: object
      properties:
        number:
          description: Number.
          type: string
          example: "+41761234567"
        type:
          description: Type.
          allOf:
            - $ref: "#/components/schemas/PhoneType"
          example: business
    PhoneType:
      type: string
      enum:
        - business
        - car
        - fax
        - mobile
        - new-car
        - private
        - sales
        - showroom
        - twenty-four-hours-hotline
        - used-car
        - utility-vehicles
        - whats-app
    QualiLogoResponse:
      description: Represents Quali Logo.
      type: object
      properties:
        id:
          description: Quali Logo's ID.
          type: integer
          format: int64
          example: 12
        imageKey:
          description: Image relative URL.
          type: string
          example: "/qualilogos/12.svg"
        name:
          description: Localized name.
          type: string
          example: "AutoScout verified"
        url:
          description: Localized URL.
          type: string
          example: "https://www.autoscout24.ch/de/s"
    ReferenceDataResponse:
      description: Represents the reference data.
      type: object
      properties:
        bodyTypes:
          description: Vehicle body types.
          type: array
          items:
            $ref: "#/components/schemas/BodyType"
        conditionTypes:
          description: Vehicle condition types.
          type: array
          items:
            $ref: "#/components/schemas/ConditionType"
        colors:
          description: Vehicle colors.
          type: array
          items:
            $ref: "#/components/schemas/Color"
        driveTypes:
          description: Vehicle drive types.
          type: array
          items:
            $ref: "#/components/schemas/DriveType"
        equipmentSearchAttributes:
          description: Vehicle equipment search attributes.
          type: array
          items:
            $ref: "#/components/schemas/EquipmentSearchAttribute"
        equipmentSearchAttributeGroups:
          description: Vehicle equipment search attribute groups.
          type: array
          items:
            $ref: "#/components/schemas/EquipmentSearchAttributeGroup"
        equipmentSearchAttributeGroupMapping:
          type: object
          description: Mapping between EquipmentSearchAttribute and EquipmentSearchAttributeGroup.
          additionalProperties:
            type: string
            nullable: true
          example:
            "xenon-headlights": "headlights"
        fuelTypes:
          description: Vehicle fuel types.
          type: array
          items:
            $ref: "#/components/schemas/FuelType"
        transmissionTypes:
          description: Vehicle transmission types.
          type: array
          items:
            $ref: "#/components/schemas/TransmissionType"
    SellerResponse:
      description: Represents a set of fields for Seller object.
      properties:
        address:
          description: Address.
          type: string
          example: "Bahnhofstrasse 123b"
        city:
          description: City.
          type: string
          example: "Zurich"
        id:
          description: ID.
          type: integer
          format: int64
          example: 1923
        name:
          description: Name.
          type: string
          example: "John Seller LLC"
        phone:
          description: Primary phone number.
          type: string
          example: "+41761234567"
        phones:
          description: All phones.
          type: array
          items:
            $ref: "#/components/schemas/Phone"
        zip:
          description: Zip code.
          type: string
          example: "8080"
    SellerListing:
      description: Represents a set of fields for Seller's Listing objects.
      properties:
        availableForLeasing:
          description: Flag indicating if the listing is available for leasing.
          type: boolean
          example: false
        bodyType:
          description: Shape of the vehicle body.
          allOf:
            - $ref: "#/components/schemas/BodyType"
          example: estate
        certificationNumber:
          description: Registration document number; in Swiss market known as Typenscheinnummer.
          type: string
          minLength: 6
          maxLength: 6
          pattern: '^\w{6}$'
          example:
            1AE899
        cubicCapacity:
          description: Volume of the engines cylinders in cubic centimeters.
          type: integer
          format: int32
          minimum: 1
          maximum: 29999
          example: 2995
        cylinders:
          description: Number of cylinders of the engine.
          type: integer
          format: int32
          minimum: 1
          maximum: 99
          example: 6
        doors:
          description: Number of doors of the vehicle.
          type: integer
          format: int32
          minimum: 1
          maximum: 9
          example: 5
        driveType:
          description: Drive type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/DriveType"
          example: all
        firstRegistrationDate:
          description: First registration date of the vehicle.
          type: string
          format: date
          example: '2020-12-15'
        firstRegistrationYear:
          description: Year when the vehicle was first registered.
          type: integer
          format: int32
          minimum: 1800
          maximum: 9999
          example: 2020
        fuelType:
          description: Fuel type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/FuelType"
          example: petrol
        id:
          description: Listing's ID.
          type: integer
          format: int64
          example: 1620023
        images:
          description: Listing images.
          type: array
          items:
            $ref: "#/components/schemas/Image"
        kiloWatts:
          description: Power the engine produces in kW.
          type: integer
          format: int32
          minimum: 1
          maximum: 9999
          example: 250
        listPrice:
          description: List price of the vehicle.
          type: number
          format: double
          minimum: 1.0
          maximum: 9999999.0
          example: 65400
        live:
          description: Flag indicating if a listing is live.
          type: boolean
          example: true
        makeKey:
          description: Unique key of the make.
          type: string
          minLength: 1
          maxLength: 64
          example: audi
        mileage:
          description: Distance in km that the vehicle has run.
          type: integer
          format: int32
          minimum: 0
          maximum: 99999999
          example: 17500
        modelKey:
          description: Key of the model (unique on the make level).
          type: string
          minLength: 1
          maxLength: 64
          example: a6
        price:
          description: Price of the vehicle.
          type: number
          format: double
          minimum: 1.0
          maximum: 9999999.0
          example: 47000
        seats:
          description: Number of seats of the vehicle.
          type: integer
          format: int32
          minimum: 1
          maximum: 199
          example: 5
        transmissionType:
          description: Transmission type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/TransmissionType"
          example: automatic
        tuned:
          description: Flag indicating if the vehicle was altered to make it nicer or faster.
          type: boolean
          example: false
        vehicleCategory:
          description: Category of the vehicle.
          allOf:
            - $ref: "#/components/schemas/VehicleCategory"
          example: car
        versionFullName:
          description: Full version name of the vehicle.
          type: string
          maxLength: 128
          example: A6 3.0 55 TFSI quattro S-Tronic
        versionId:
          description: Version ID of a listing.
          type: integer
          format: int64
          example: 100201
    SellerListingPage:
      description: Represents a page of Listing entities.
      allOf:
        - $ref: "#/components/schemas/Page"
        - type: object
          properties:
            content:
              description: List of listing entries on the current page.
              type: array
              items:
                $ref: "#/components/schemas/SellerListing"
    TransmissionType:
      type: string
      enum:
        - automatic
        - automatic-stepless
        - semi-automatic
        - manual
    TransmissionTypeGroup:
      type: string
      enum:
        - automatic
        - manual
    VehicleCategoriesResponse:
      type: object
      properties:
        vehicleCategories:
          description: Retrieved vehicle categories.
          type: array
          items:
            $ref: '#/components/schemas/VehicleCategory'
    VehicleCategory:
      type: string
      enum:
        - car
        - utility
        - motorcycle
        - truck
        - camper
        - trailer
    VersionShared:
      description: Represents a shared set of fields for different Version objects.
      properties:
        source:
          description: Version source.
          allOf:
            - $ref: "#/components/schemas/VersionSource"
          example: eurotax
        externalId:
          description: |
            Version's external ID, usually provided and used by a data provider as the version's key/identificator
            in the origin system.
          type: string
          maxLength: 64
          example: "100200401"
    VersionSource:
      type: string
      enum:
        - eurotax
        - auto-i
    WarrantyType:
      type: string
      enum:
        - from-date
        - from-delivery
        - first-registration
        - none
  securitySchemes:
    BearerAuth:
      bearerFormat: auth-scheme
      description: "Bearer HTTP authentication (Authorization: Bearer <access_token>)"
      scheme: bearer
      type: http
