openapi: 3.0.3
info:
  contact:
    email: info@autoscout24.ch
    name: AutoScout24 Engineering Team
    url: https://developers.autoscout24.ch
  description: Explore the versatile AutoScout24 REST API for seamless integration.
  title: AutoScout24 API for FinanceScout24
  version: 1.0.1

servers:
  - url: "https://api.autoscout24.ch"

security:
  - BearerAuth: [ ]

paths:
  /fs24/v1/listings/{listingId}:
    get:
      operationId: GetFinanceScout24ListingsListingId
      description: Returns a FinanceScout24 listing for the specified listing ID.
      tags:
        - Listing
      parameters:
        - $ref: '#/components/parameters/listingIdPathParam'
      responses:
        "200":
          description: Listing returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FinanceScout24Listing"

components:
  parameters:
    listingIdPathParam:
      in: path
      name: listingId
      description: The ID of the listing.
      required: true
      schema:
        type: integer
        format: int64
      example: 1620023
  schemas:
    BodyType:
      type: string
      description: Defines the body type of the vehicle, indicating the general structure and form.
      enum:
        - alcove
        - atv-quad
        - boat-trailer
        - box
        - box-double-cab
        - box-glazed
        - bridge
        - bridge-double-cab
        - bus
        - cab-over
        - cabin
        - cabriolet
        - car
        - caravan
        - car-trailer
        - car-transporter
        - chassis-cab
        - chopper
        - construction-trailer
        - coupe
        - custom-bike
        - e-bike
        - estate
        - horse-trailer
        - integrated
        - livestock-trailer
        - low-bed-trailer
        - minivan
        - moped
        - motocross-bike
        - motorcycle-trailer
        - motorhome
        - naked-bike
        - off-road-bike
        - other
        - pickup
        - platform
        - reefer
        - sales-trailer
        - saloon
        - sanitary-trailer
        - scooter
        - semi-integrated
        - semi-trailer
        - sidecar
        - small-car
        - snowmobile
        - special-vehicles-trailer
        - street-bike
        - suitcase
        - supermoto
        - suv
        - tank-body
        - tipper
        - touring
        - trailer
        - trike
        - uploader
        - wood-transporter
      example: "car"
    ConditionType:
      type: string
      description: Specifies the condition of the vehicle, whether it's new, used, or other categories.
      enum:
        - new
        - used
        - demonstration
        - oldtimer
        - pre-registered
      example: "new"
    DriveType:
      type: string
      description: The type of drive that determines how the vehicle's wheels are powered.
      enum:
        - rear
        - front
        - all
      example: "rear"
    FuelType:
      type: string
      description: A list of possible fuel types that a vehicle can use.
      enum:
        - cng-petrol
        - diesel
        - electric
        - ethanol-petrol
        - hev-diesel
        - hev-petrol
        - hydrogen
        - lpg-petrol
        - mhev-diesel
        - mhev-petrol
        - petrol
        - phev-diesel
        - phev-petrol
        - two-stroke-mixture
    Image:
      properties:
        url:
          description: URL of the image.
          type: string
          format: uri
          example: https://images.autoscout24.ch/853/11878853/0.jpg
      description: Represents an image, containing an absolute URL to the image file.
    TransmissionType:
      type: string
      description: Type of transmission in the vehicle.
      enum:
        - automatic
        - automatic-stepless
        - semi-automatic
        - manual
      example: automatic
    VehicleCategory:
      type: string
      description: Represents the category or type of a vehicle.
      enum:
        - car
        - utility
        - motorcycle
        - truck
        - camper
        - trailer
      example: car
    FinanceScout24Listing:
      properties:
        availableForLeasing:
          description: Flag indicating if the listing is available for leasing.
          type: boolean
          example: false
        bodyType:
          description: Shape of the vehicle body.
          allOf:
            - $ref: "#/components/schemas/BodyType"
          example: estate
        certificationNumber:
          description: Registration document number; in Swiss market known as Typenscheinnummer.
          type: string
          minLength: 6
          maxLength: 6
          pattern: '^\w{6}$'
          example: 1AE899
        conditionType:
          description: Condition type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/ConditionType"
          example: demonstration
        cubicCapacity:
          description: Volume of the engine's cylinders in cubic centimeters.
          type: integer
          format: int32
          minimum: 1
          maximum: 29999
          example: 2995
        cylinders:
          description: Number of cylinders of the engine.
          type: integer
          format: int32
          minimum: 1
          maximum: 99
          example: 6
        doors:
          description: Number of doors of the vehicle.
          type: integer
          format: int32
          minimum: 1
          maximum: 9
          example: 5
        driveType:
          description: Drive type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/DriveType"
          example: all
        firstRegistrationDate:
          description: First registration date of the vehicle.
          type: string
          format: date
          example: '2020-12-15'
        firstRegistrationYear:
          description: Year when the vehicle was first registered.
          type: integer
          format: int32
          minimum: 1800
          maximum: 9999
          example: 2020
        fuelType:
          description: Fuel type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/FuelType"
          example: petrol
        id:
          description: Listing's ID.
          type: integer
          format: int64
          example: 1620023
        images:
          description: Listing images.
          type: array
          items:
            $ref: "#/components/schemas/Image"
        kiloWatts:
          description: Power the engine produces in kW.
          type: integer
          format: int32
          minimum: 1
          maximum: 9999
          example: 250
        listPrice:
          description: List price of the vehicle.
          type: number
          format: double
          minimum: 1.0
          maximum: 9999999.0
          example: 65400
        live:
          description: Flag indicating if a listing is live.
          type: boolean
          example: true
        makeKey:
          description: Unique key of the make.
          type: string
          minLength: 1
          maxLength: 64
          example: audi
        mileage:
          description: Distance in km that the vehicle has run.
          type: integer
          format: int32
          minimum: 0
          maximum: 99999999
          example: 17500
        modelKey:
          description: Key of the model (unique on the make level).
          type: string
          minLength: 1
          maxLength: 64
          example: a6
        price:
          description: Price of the vehicle.
          type: number
          format: double
          minimum: 1.0
          maximum: 9999999.0
          example: 47000
        seats:
          description: Number of seats of the vehicle.
          type: integer
          format: int32
          minimum: 1
          maximum: 199
          example: 5
        sellerId:
          description: Seller's ID.
          type: integer
          format: int64
          example: 1923
        transmissionType:
          description: Transmission type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/TransmissionType"
          example: automatic
        tuned:
          description: Flag indicating if the vehicle was altered to make it nicer or faster.
          type: boolean
          example: false
        vehicleCategory:
          description: Category of the vehicle.
          allOf:
            - $ref: "#/components/schemas/VehicleCategory"
          example: car
        versionFullName:
          description: Full version name of the vehicle.
          type: string
          maxLength: 128
          example: A6 3.0 55 TFSI quattro S-Tronic
        versionId:
          description: Version ID of a listing.
          type: integer
          format: int64
          example: 100201
      description: A representation of a listing object from FinanceScout24 containing various attributes of the vehicle such as fuel type, body type, and pricing information.
