openapi: 3.0.3
info:
  contact:
    email: info@autoscout24.ch
    name: AutoScout24 Engineering Team
    url: https://developers.autoscout24.ch
  description: Explore the versatile AutoScout24 REST API for seamless integration.
  title: AutoScout24 API for listing distribution
  version: 1.0.1

servers:
  - url: "https://api.autoscout24.ch"

security:
  - BearerAuth: [ ]

paths:
  /api/cross-listing/v1/listings:
    get:
      operationId: GetLiveListings
      description: Returns a list of live listings.
      tags:
          - Listing
      parameters:
          - $ref: "#/components/parameters/languageQueryParam"
          - $ref: "#/components/parameters/modifiedSinceQueryParam"
          - $ref: "#/components/parameters/vehicleCategoryQueryParam"
          - $ref: "#/components/parameters/pageQueryParam"
          - $ref: "#/components/parameters/sizeQueryParam"
      responses:
          "200":
            description: Live listings returned.
            content:
                application/json:
                  schema:
                      "$ref": "#/components/schemas/ListingsResponse"
  /cross-listing/v1/listings/non-live:
    get:
      operationId: GetNonLiveListings
      description: Returns a list of non-live listings.
      tags:
        - Listing
      parameters:
        - $ref: "#/components/parameters/modifiedSinceQueryParam"
        - $ref: "#/components/parameters/vehicleCategoryQueryParam"
        - $ref: "#/components/parameters/pageQueryParam"
        - $ref: "#/components/parameters/sizeQueryParam"
      responses:
        "200":
          description: Listings returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/NonLiveListingsResponse"
components:
  parameters:
    languageQueryParam:
      in: query
      name: language
      description: The language used by the seller. Valid options are German (de), French (fr), or Italian (it).
      required: false
      schema:
        $ref: "#/components/schemas/Language"
      example: de
    modifiedSinceQueryParam:
      in: query
      name: modifiedSince
      description: The date and time when the listing's liveness was modified.
      schema:
        type: string
        format: date-time
        example: '2025-01-01T12:00:00Z'
    vehicleCategoryQueryParam:
      in: query
      name: vehicleCategory
      description: The vehicle category for which data should be retrieved.
      required: true
      schema:
        $ref: "#/components/schemas/VehicleCategory"
    pageQueryParam:
      in: query
      name: page
      description: The page number for data retrieval (defaults to 0).
      required: false
      schema:
        type: integer
        format: int32
        minimum: 0
        maximum: 999999
        default: 0
      example: 0
    sizeQueryParam:
      in: query
      name: size
      description: The number of records per page (defaults to 20, maximum 2000).
      required: false
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2000
        default: 20
      example: 20
  schemas:
    BodyType:
      type: string
      description: Defines the body type of the vehicle, indicating the general structure and form.
      enum:
        - alcove
        - atv-quad
        - boat-trailer
        - box
        - box-double-cab
        - box-glazed
        - bridge
        - bridge-double-cab
        - bus
        - cab-over
        - cabin
        - cabriolet
        - car
        - caravan
        - car-trailer
        - car-transporter
        - chassis-cab
        - chopper
        - construction-trailer
        - coupe
        - custom-bike
        - e-bike
        - estate
        - horse-trailer
        - integrated
        - livestock-trailer
        - low-bed-trailer
        - minivan
        - moped
        - motocross-bike
        - motorcycle-trailer
        - motorhome
        - naked-bike
        - off-road-bike
        - other
        - pickup
        - platform
        - reefer
        - sales-trailer
        - saloon
        - sanitary-trailer
        - scooter
        - semi-integrated
        - semi-trailer
        - sidecar
        - small-car
        - snowmobile
        - special-vehicles-trailer
        - street-bike
        - suitcase
        - supermoto
        - suv
        - tank-body
        - tipper
        - touring
        - trailer
        - trike
        - uploader
        - wood-transporter
      example: "car"
    ConditionType:
      type: string
      description: Specifies the condition of the vehicle, whether it's new, used, or other categories.
      enum:
        - new
        - used
        - demonstration
        - oldtimer
        - pre-registered
      example: "new"
    Color:
      type: string
      description: The color of the vehicle or its components.
      enum:
        - anthracite
        - beige
        - black
        - blue
        - bordeaux
        - brown
        - gray
        - gold
        - green
        - multicolored
        - orange
        - pink
        - red
        - silver
        - turquoise
        - violet
        - white
        - yellow
        - other
      example: "blue"
    DriveType:
      type: string
      description: The type of drive that determines how the vehicle's wheels are powered.
      enum:
        - rear
        - front
        - all
      example: "rear"
    DriveSystem:
      type: string
      description: The type of system used to transmit power from the engine to the wheels or other moving parts.
      enum:
        - belt
        - chain
        - shaft
        - direct
      example: "belt"
    EmissionStandard:
      type: string
      description: The emission standard that the vehicle complies with, indicating the level of pollutants it produces.
      enum:
        - euro-1
        - euro-2
        - euro-3
        - euro-4
        - euro-5
        - euro-5-plus
        - euro-6
        - euro-6a
        - euro-6b
        - euro-6c
        - euro-6d
        - euro-6d-temp
        - euro-6d-temp-evap
        - euro-6d-temp-evap-isc
        - euro-6d-temp-isc
        - euro-6d-isc
        - euro-6d-isc-fcm
        - euro-6e
      example: "euro-6"
    EnergyLabel:
      type: string
      description: The energy efficiency label of the vehicle, indicating how energy-efficient it is.
      enum:
        - a
        - b
        - c
        - d
        - e
        - f
        - g
      example: "a"
    FuelType:
      type: string
      description: A list of possible fuel types that a vehicle can use.
      enum:
        - cng-petrol
        - diesel
        - electric
        - ethanol-petrol
        - hev-diesel
        - hev-petrol
        - hydrogen
        - lpg-petrol
        - mhev-diesel
        - mhev-petrol
        - petrol
        - phev-diesel
        - phev-petrol
        - two-stroke-mixture
    Image:
      properties:
        url:
          description: URL of the image.
          type: string
          format: uri
          example: https://images.autoscout24.ch/853/11878853/0.jpg
      description: Represents an image, containing an absolute URL to the image file.
    Language:
      description: The language used by the seller. Valid options are German (de), French (fr), or Italian (it).
      type: string
      enum:
        - de
        - fr
        - it
      example: de
    ListingsResponse:
      description: Represents a page of live listing entities.
      allOf:
        - $ref: "#/components/schemas/Page"
        - type: object
          properties:
            content:
              description: List of live listing entries on the current page.
              type: array
              items:
                $ref: '#/components/schemas/LiveListing'
    LiveListing:
      type: object
      description: Represents the object of a live listing.
      properties:
        bodyColor:
          description: Color of the vehicle body.
          allOf:
            - $ref: '#/components/schemas/Color'
          example: blue
        bodyType:
          description: Body type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/BodyType"
          example: coupe
        co2Emission:
          description: CO2 emission in g/km.
          type: integer
          example: 42
        conditionType:
          description: Condition type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/ConditionType"
          example: used
        consumptionCombined:
          description: Combined fuel consumption in l/100km.
          type: number
          format: double
          example: 8.55
        consumptionExtraUrban:
          description: Extra urban fuel consumption in l/100km.
          type: number
          format: double
          example: 6.55
        consumptionUrban:
          description: Urban fuel consumption in l/100km.
          type: number
          format: double
          example: 10.55
        createdDate:
          description: Date and time when the listing was created.
          type: string
          format: date-time
          example: "2021-06-06T01:00:00Z"
        cubicCapacity:
          description: Engine cubic capacity in cc.
          type: integer
          example: 2000
        cylinders:
          description: Number of engine cylinders.
          type: integer
          example: 8
        description:
          description: Full description of the listing.
          type: string
          example: Awesome car!
        directImport:
          description: Flag that indicates whether the vehicle is a direct import, meaning it was imported outside the official Swiss distributor network.
          type: boolean
          example: true
        doors:
          description: Number of doors.
          type: integer
          example: 5
        driveSystem:
          description: Drive system of the vehicle.
          allOf:
            - $ref: "#/components/schemas/DriveSystem"
          example: belt
        driveType:
          description: Drive type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/DriveType"
          example: all
        emissionStandard:
          description: Emission standard of the vehicle.
          allOf:
            - $ref: "#/components/schemas/EmissionStandard"
          example: euro-6
        energyLabel:
          description: Energy label of the vehicle.
          allOf:
            - $ref: "#/components/schemas/EnergyLabel"
          example: a
        firstRegistrationDate:
          description: Date when the vehicle was first registered.
          type: string
          format: date
          example: "2020-01-01"
        firstRegistrationYear:
          description: Year of first registration.
          type: integer
          example: 2020
        fuelType:
          description: Fuel type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/FuelType"
          example: hev-diesel
        gears:
          description: Number of gears.
          type: integer
          example: 6
        hadAccident:
          description: Indicates if the vehicle had an accident.
          type: boolean
          example: true
        horsePower:
          description: Horsepower of the vehicle.
          type: integer
          example: 199
        id:
          description: Listing's ID.
          type: integer
          format: int64
          example: 601
        images:
          description: Listing images.
          type: array
          items:
            $ref: "#/components/schemas/Image"
        kiloWatts:
          description: Power in kilowatts.
          type: integer
          example: 150
        language:
          description: Primary language used for free text fields.
          allOf:
            - $ref: "#/components/schemas/Language"
          example: de
        lastInspectionDate:
          description: Last inspection date of the vehicle (vehicle technical inspection required by law - MFK).
          type: string
          format: date
          example: "2022-11-01"
        lastModifiedDate:
          description: Date and time when the listing was last modified.
          type: string
          format: date-time
          example: "2022-02-01T11:00:00Z"
        listPrice:
          description: Listing price.
          type: number
          format: double
          example: 57500.55
        makeKey:
          description: Make key of the vehicle.
          type: string
          example: audi
        metallic:
          description: Flag indicating if a vehicle has a metallic paint.
          type: boolean
          example: true
        mileage:
          description: Vehicle mileage in km.
          type: integer
          example: 15000
        modelKey:
          description: Model key of the vehicle.
          type: string
          example: a5
        price:
          description: Vehicle price in currency units.
          type: number
          format: double
          example: 37500.55
        seats:
          description: Number of seats.
          type: integer
          example: 5
        seller:
          $ref: "#/components/schemas/Seller"
        sellerVehicleId:
          description: ID of the vehicle assigned by the seller.
          type: string
          example: 3675D10093774
        teaser:
          description: Short teaser text for the listing.
          type: string
          example: NEW NEW NEW
        transmissionType:
          description: Transmission type.
          allOf:
            - $ref: "#/components/schemas/TransmissionType"
          example: automatic
        vehicleCategory:
          description: Vehicle category.
          allOf:
            - $ref: "#/components/schemas/VehicleCategory"
          example: car
        vehicleIdentificationNumber:
          description: Vehicle identification number (VIN).
          type: string
          example: VIN12345678901234
        versionFullName:
          description: Full version name of the vehicle.
          type: string
          example: A5 45 TDI
        warrantyDetails:
          description: Details about warranty coverage.
          type: string
          example: Up to 10k
        warrantyDuration:
          description: Warranty duration in months.
          type: integer
          example: 24
        weightCurb:
          description: Curb weight of the vehicle in kg.
          type: integer
          example: 2000
    NonLiveListingsResponse:
      description: Represents a page of non live listing entities.
      allOf:
        - $ref: "#/components/schemas/Page"
        - type: object
          properties:
            content:
              description: List of non live listing entries on the current page.
              type: array
              items:
                type: object
                properties:
                  id:
                    description: Listing's ID.
                    type: integer
                    format: int64
                    example: 1923
    Page:
      type: object
      properties:
        empty:
          description: Indicates if the page is empty.
          type: boolean
          example: false
        numberOfElements:
          description: Actual number of elements in a page.
          type: integer
          format: int32
          example: 18
        size:
          description: Size of a page.
          type: integer
          format: int32
          example: 20
        totalElements:
          description: Total number of elements.
          type: integer
          format: int64
          example: 138
        first:
          description: Indicates if it's the first page.
          type: boolean
          example: false
        last:
          description: Indicates if it's the last page.
          type: boolean
          example: true
        number:
          description: Page number.
          type: integer
          format: int32
          example: 6
        totalPages:
          description: Total number of pages.
          type: integer
          format: int32
          example: 7
    Seller:
      type: object
      description: Seller details.
      properties:
        city:
          description: Seller's city.
          type: string
          example: Zurich
        countryCode:
          description: Seller's country code.
          type: string
          example: CH
        email:
          description: Seller's email address.
          type: string
          format: email
          example: johndoe@swissmarketplace.group
        id:
          description: Seller's ID.
          type: integer
          example: 701
        name:
          description: Seller's name.
          type: string
          example: John Doe
        phone:
          description: Seller's phone number.
          type: string
          example: "+41 79 123 45 67"
        sellerType:
          description: Seller type.
          allOf:
            - $ref: "#/components/schemas/SellerType"
          example: professional
        zipCode:
          description: Seller's postal code.
          type: string
          example: 10000
    SellerType:
      description: The type of seller. Can be either professional or private.
      type: string
      enum:
        - professional
        - private
      example: professional
    TransmissionType:
      type: string
      description: Type of transmission in the vehicle.
      enum:
        - automatic
        - automatic-stepless
        - semi-automatic
        - manual
      example: automatic
    VehicleCategory:
      type: string
      description: Represents the category or type of a vehicle.
      enum:
        - car
        - utility
        - motorcycle
        - truck
        - camper
        - trailer
      example: car
  securitySchemes:
    BearerAuth:
      bearerFormat: auth-scheme
      description: "Bearer HTTP authentication (Authorization: Bearer <access_token>)"
      scheme: bearer
      type: http
