openapi: 3.0.3
info:
  contact:
    email: info@autoscout24.ch
    name: AutoScout24 Engineering Team
    url: https://developers.autoscout24.ch
  description: Explore the versatile AutoScout24 REST API for seamless integration.
  title: AutoScout24 API
  version: 1.0.1

servers:
  - url: 'https://api.autoscout24.ch'

security:
  - BearerAuth: [ ]

tags:
  - name: Listing Search

paths:
  /public/v1/listings/facets:
    post:
      tags:
        - Listing Search
      description: Retrieve facets based on specified query parameters.
      operationId: GetFacets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListingFacetsDto'
        required: true
      responses:
        "200":
          description: Facets successfully returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacetsDto'
components:
  parameters:
    pageQueryParam:
      in: query
      name: page
      description: Specify the page number for data retrieval (defaults to 0).
      required: false
      schema:
        type: integer
        format: int32
        minimum: 0
        maximum: 999999
        default: 0
      example: 0
    sizeQueryParam:
      in: query
      name: size
      description: Number of records per page (defaults to 25, maximum 2000).
      required: false
      schema:
        type: integer
        format: int32
        minimum: 1
        maximum: 2000
        default: 25
      example: 15
  schemas:
    ListingFacetsDto:
      description: Represents the request structure for listing facets.
      required:
        - facets
      type: object
      properties:
        query:
          $ref: '#/components/schemas/ListingQueryDto'
        facets:
          description: Facets to retrieve.
          type: array
          items:
            $ref: '#/components/schemas/ListingFacet'
    ListingQueryDto:
      description: Represents the query parameters for filtering listings.
      type: object
      properties:
        fuelTypes:
          description: Filter listings by fuel types.
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
              - cng-petrol
              - diesel
              - electric
              - ethanol-petrol
              - hev-diesel
              - hev-petrol
              - hydrogen
              - lpg-petrol
              - mhev-diesel
              - mhev-petrol
              - petrol
              - phev-diesel
              - phev-petrol
              - two-stroke-mixture
          example: [ "electric", "petrol" ]
        makeModelVersions:
          description: Filter listings by make and model combinations.
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/ListingQueryDto$MakeModelVersion'
          example: [ { "makeKey": "bmw", "modelGroupKey": "3-series", "modelKey": "320d" } ]
        vehicleCategories:
          description: Filter listings by vehicle categories.
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
              - car
              - utility
              - motorcycle
              - truck
              - camper
              - trailer
          example: [ "car", "utility" ]
    ListingQueryDto$MakeModelVersion:
      description: Represents the make and model version for querying.
      type: object
      properties:
        makeKey:
          type: string
          example: "bmw"
        modelGroupKey:
          type: string
          example: "3-series"
        modelKey:
          type: string
          example: "320d"
    ListingFacet:
      description: Definition of facet to retrieve.
      type: object
      properties:
        name:
          description: The name of the facet.
          type: string
          enum:
            - makeKeys
            - modelGroupKeys
            - modelKeys
      example: { "name": "makeKeys" }
    FacetsDto:
      description: Retrieved facets.
      type: object
      properties:
        facets:
          description: Retrieved facets.
          type: object
          additionalProperties:
            description: Facet name.
            type: object
            additionalProperties:
              description: Facet value.
              type: integer
              format: int64
      example: { "makeKeys": { "audi": 100, "bmw": 200 }, "modelKeys": { "3-series": 50, "5-series": 100 } }
  securitySchemes:
    BearerAuth:
      bearerFormat: auth-scheme
      description: 'Bearer HTTP authentication (Authorization: Bearer <access_token>)'
      scheme: bearer
      type: http
