openapi: 3.0.3
info:
  contact:
    email: info@autoscout24.ch
    name: AutoScout24 Engineering Team
    url: https://developers.autoscout24.ch
  description: Explore the versatile AutoScout24 REST API for seamless integration.
  title: AutoScout24 API for FinanceScout24
  version: 1.0.1

servers:
  - url: "https://api.autoscout24.ch"

security:
  - BearerAuth: [ ]

paths:
  /fs24/v1/listings/{listingId}:
    get:
      operationId: GetFinanceScout24ListingsListingId
      description: Returns a FinanceScout24 listing for the specified listing ID.
      tags:
        - Listing
      parameters:
        - $ref: '#/components/parameters/listingIdPathParam'
      responses:
        "200":
          description: Listing returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FinanceScout24Listing"
  /fs24/v1/sellers/{sellerId}:
    get:
      operationId: GetFinanceScout24SellersSellerId
      description: Returns a FinanceScout24 seller for the specified seller ID.
      tags:
        - Seller
      parameters:
        - $ref: '#/components/parameters/sellerIdPathParam'
      responses:
        "200":
          description: Seller returned.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FinanceScout24Seller"
  /fs24/v1/listings/recalculate-leasing:
    post:
      operationId: FinanceScout24RecalculateLeasing
      description: Recalculates listings leasing asynchronously based on provided query parameters.
      tags:
        - Listing
      parameters:
        - in: query
          name: all
          required: false
          description: Recalculates leasing all listings.
          schema:
            type: boolean
            default: false
        - in: query
          name: providerIds
          required: false
          description: Recalculates leasing for listings with specified provider IDs.
          style: form
          explode: true
          schema:
            type: array
            uniqueItems: true
            items:
              type: integer
              format: int64
        - in: query
          name: hasNoLeasingOnly
          required: false
          description: Recalculates leasing for listings without leasing only.
          schema:
            type: boolean
            default: false
      responses:
        "202":
          description: Listings leasing recalculation process started.
components:
  parameters:
    listingIdPathParam:
      in: path
      name: listingId
      description: The ID of the listing.
      required: true
      schema:
        type: integer
        format: int64
      example: 1620023
    sellerIdPathParam:
      in: path
      name: sellerId
      description: The ID of the seller.
      required: true
      schema:
        type: integer
        format: int64
      example: 60601
  schemas:
    BodyType:
      type: string
      description: Defines the body type of the vehicle, indicating the general structure and form.
      enum:
        - alcove
        - atv-quad
        - boat-trailer
        - box
        - box-double-cab
        - box-glazed
        - bridge
        - bridge-double-cab
        - bus
        - cab-over
        - cabin
        - cabriolet
        - car
        - caravan
        - car-trailer
        - car-transporter
        - chassis-cab
        - chopper
        - construction-trailer
        - coupe
        - custom-bike
        - e-bike
        - estate
        - horse-trailer
        - integrated
        - livestock-trailer
        - low-bed-trailer
        - minivan
        - moped
        - motocross-bike
        - motorcycle-trailer
        - motorhome
        - naked-bike
        - off-road-bike
        - other
        - pickup
        - platform
        - reefer
        - sales-trailer
        - saloon
        - sanitary-trailer
        - scooter
        - semi-integrated
        - semi-trailer
        - sidecar
        - small-car
        - snowmobile
        - special-vehicles-trailer
        - street-bike
        - suitcase
        - supermoto
        - suv
        - tank-body
        - tipper
        - touring
        - trailer
        - trike
        - uploader
        - wood-transporter
      example: "car"
    ConditionType:
      type: string
      description: Specifies the condition of the vehicle, whether it's new, used, or other categories.
      enum:
        - new
        - used
        - demonstration
        - oldtimer
        - pre-registered
      example: "new"
    DriveType:
      type: string
      description: The type of drive that determines how the vehicle's wheels are powered.
      enum:
        - rear
        - front
        - all
      example: "rear"
    FuelType:
      type: string
      description: A list of possible fuel types that a vehicle can use.
      enum:
        - cng-petrol
        - diesel
        - electric
        - ethanol-petrol
        - hev-diesel
        - hev-petrol
        - hydrogen
        - lpg-petrol
        - mhev-diesel
        - mhev-petrol
        - petrol
        - phev-diesel
        - phev-petrol
        - two-stroke-mixture
    Image:
      properties:
        url:
          description: URL of the image.
          type: string
          format: uri
          example: https://images.autoscout24.ch/853/11878853/0.jpg
      description: Represents an image, containing an absolute URL to the image file.
    TransmissionType:
      type: string
      description: Type of transmission in the vehicle.
      enum:
        - automatic
        - automatic-stepless
        - semi-automatic
        - manual
      example: automatic
    VehicleCategory:
      type: string
      description: Represents the category or type of a vehicle.
      enum:
        - car
        - utility
        - motorcycle
        - truck
        - camper
        - trailer
      example: car
    FinanceScout24Listing:
      properties:
        availableForLeasing:
          description: Flag indicating if the listing is available for leasing.
          type: boolean
          example: false
        batteryCapacity:
          description: Battery capacity in kWh.
          type: number
          format: double
          minimum: 1.0
          maximum: 999.0
          example: 150.55
        bodyColor:
          description: Color of the vehicle body.
          allOf:
            - $ref: "#/components/schemas/Color"
          example: blue
        bodyType:
          description: Shape of the vehicle body.
          allOf:
            - $ref: "#/components/schemas/BodyType"
          example: estate
        boot:
          description: Boot dimensions.
          type: object
          properties:
            volume:
              description: Volume of the boot in liters.
              type: number
              format: double
              example: 800.55
        certificationNumber:
          description: Registration document number; in Swiss market known as Typenscheinnummer.
          type: string
          minLength: 6
          maxLength: 6
          pattern: '^\w{6}$'
          example: 1AE899
        co2Emission:
          description: CO2 emission in g/km.
          type: integer
          format: int32
          minimum: 0
          maximum: 9999
          example: 42
        conditionType:
          description: Condition type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/ConditionType"
          example: demonstration
        consumption:
          description: Fuel consumption data for the vehicle.
          type: object
          properties:
            combined:
              description: Total fuel consumption in L/100km.
              type: number
              format: double
              example: 8.55
            extraUrban:
              description: Extra urban fuel consumption in L/100km.
              type: number
              format: double
              example: 6.55
            urban:
              description: Urban fuel consumption in L/100km.
              type: number
              format: double
              example: 10.55
        createdDate:
          description: Creation date of the listing.
          type: string
          format: date-time
          example: "2025-06-01T12:00:00Z"
        cubicCapacity:
          description: Volume of the engine's cylinders in cubic centimeters.
          type: integer
          format: int32
          minimum: 1
          maximum: 29999
          example: 2995
        cylinders:
          description: Number of cylinders of the engine.
          type: integer
          format: int32
          minimum: 1
          maximum: 99
          example: 6
        directImport:
          description: Flag indicating if the vehicle was imported by the official seller.
          type: boolean
          example: true
        doors:
          description: Number of doors of the vehicle.
          type: integer
          format: int32
          minimum: 1
          maximum: 9
          example: 5
        driveType:
          description: Drive type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/DriveType"
          example: all
        firstRegistrationDate:
          description: First registration date of the vehicle.
          type: string
          format: date
          example: 2020-12-15
        firstRegistrationYear:
          description: Year when the vehicle was first registered.
          type: integer
          format: int32
          minimum: 1800
          maximum: 9999
          example: 2020
        fuelType:
          description: Fuel type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/FuelType"
          example: petrol
        gears:
          description: Number of gears of the vehicle.
          type: integer
          format: int32
          minimum: 1
          maximum: 99
          example: 6
        hadAccident:
          description: Flag indicating if a vehicle had an accident.
          type: boolean
          example: true
        handicappedAccessible:
          description: Flag indicating if a vehicle is equipped for handicapped accessibility.
          type: boolean
          example: true
        horsePower:
          description: Horsepower of the vehicle.
          type: integer
          format: int16
          minimum: 1
          maximum: 9999
          example: 199
        id:
          description: Listing's ID.
          type: integer
          format: int64
          example: 1620023
        images:
          description: Listing images.
          type: array
          items:
            $ref: "#/components/schemas/Image"
        inspected:
          description: Flag indicating if a vehicle was inspected.
          type: boolean
          example: true
        interiorColor:
          description: Color of the vehicle interior.
          allOf:
            - $ref: "#/components/schemas/Color"
          example: red
        kiloWatts:
          description: Power the engine produces in kW.
          type: integer
          format: int32
          minimum: 1
          maximum: 9999
          example: 250
        lastInspectionDate:
          description: Date of the last inspection.
          type: string
          format: date
          example: '2020-12-15'
        lastModifiedDate:
          description: Last modification date of the listing.
          type: string
          format: date-time
          example: "2025-06-01T12:00:00Z"
        listPrice:
          description: List price of the vehicle.
          type: number
          format: double
          minimum: 1.0
          maximum: 9999999.0
          example: 65400
        live:
          description: Flag indicating if a listing is live.
          type: boolean
          example: true
        makeKey:
          description: Unique key of the make.
          type: string
          minLength: 1
          maxLength: 64
          example: audi
        makeName:
          description: Name of the make.
          type: string
          minLength: 1
          maxLength: 255
          example: AUDI
        metallic:
          description: Flag indicating if a vehicle has a metallic paint.
          type: boolean
          example: true
        mileage:
          description: Distance in km that the vehicle has run.
          type: integer
          format: int32
          minimum: 0
          maximum: 99999999
          example: 17500
        modelKey:
          description: Key of the model (unique on the make level).
          type: string
          minLength: 1
          maxLength: 64
          example: a6
        modelName:
          description: Name of the model.
          type: string
          minLength: 1
          maxLength: 255
          example: A6
        price:
          description: Price of the vehicle.
          type: number
          format: double
          minimum: 1.0
          maximum: 9999999.0
          example: 47000
        racingVehicle:
          description: Flag indicating if a vehicle is a racing vehicle.
          type: boolean
          example: true
        seats:
          description: Number of seats of the vehicle.
          type: integer
          format: int32
          minimum: 1
          maximum: 199
          example: 5
        sellerId:
          description: Seller's ID.
          type: integer
          format: int64
          example: 1923
        serialNumber:
          type: string
          pattern: '^\d{3}\.\d{3}\.\d{3}$'
          description: Serial number of the vehicle; in Swiss market known as Stammnummer.
          example: 123.456.789
        transmissionType:
          description: Transmission type of the vehicle.
          allOf:
            - $ref: "#/components/schemas/TransmissionType"
          example: automatic
        tuned:
          description: Flag indicating if the vehicle was altered to make it nicer or faster.
          type: boolean
          example: false
        vehicleCategory:
          description: Category of the vehicle.
          allOf:
            - $ref: "#/components/schemas/VehicleCategory"
          example: car
        vehicleIdentificationNumber:
          description: Identification number of the vehicle.
          type: string
          pattern: '^\w{17}$'
          example: W0LPD2EC5CG042448
        versionFullName:
          description: Full version name of the vehicle.
          type: string
          maxLength: 128
          example: A6 3.0 55 TFSI quattro S-Tronic
        versionId:
          description: Version ID of a listing.
          type: integer
          format: int64
          example: 100201
        warranty:
          description: Details about the vehicle’s warranty, including terms and conditions.
          type: object
          properties:
            duration:
              description: The duration of the warranty in months.
              type: integer
              format: int32
              minimum: 1
              maximum: 199
              example: 24
        weightCurb:
          description: The curb weight of the vehicle in kg, excluding passengers and cargo.
          type: integer
          format: int16
          minimum: 1
          maximum: 29999
          example: 2000
        weightTotal:
          description: The total weight of the vehicle in kg, including all components.
          type: integer
          format: int16
          minimum: 1
          maximum: 29999
          example: 2500
      description: A representation of a listing object, containing various attributes of the vehicle such as fuel type, body type, and pricing information.
    FinanceScout24Seller:
      description: Represents a seller object containing various attributes such as address, name, phone number, and more.
      properties:
        address:
          description: The seller's address.
          type: string
          example: Bahnhofstrasse 123b
        city:
          description: The city where the seller is located.
          type: string
          example: Zurich
        countryCode:
          description: The country code where the seller is located.
          type: string
          example: CH
        groups:
          description: The list of groups the seller belongs to.
          type: array
          items:
            type: integer
            format: int64
          example: [ 456, 789 ]
        id:
          description: Unique identifier of the seller.
          type: integer
          format: int64
          example: 1923
        name:
          description: The name of the seller.
          type: string
          example: John Seller LLC
        language:
          description: The language used by the seller.
          allOf:
            - $ref: '#/components/schemas/Language'
          example: de
        notificationRecipients:
          description: A list of recipients who will receive notifications such as leads or expressions of interest.
          type: array
          items:
            $ref: "#/components/schemas/NotificationRecipient"
        logoUrl:
          description: URL of the seller's logo.
          type: string
          format: uri
          example: https://images.autoscout24.ch/sellerlogos/0.jpg
        phoneNumber:
          description: The seller's primary phone number.
          type: string
          example: +41761234567
        type:
          description: The type of seller.
          allOf:
            - $ref: '#/components/schemas/SellerType'
          example: professional
        website:
          description: The seller's website.
          type: string
          example: "https://www.autoscout24.ch"
        zipCode:
          description: The postal code of the seller’s location.
          type: string
          example: 8080
    Color:
      type: string
      description: The color of the vehicle or its components.
      enum:
        - anthracite
        - beige
        - black
        - blue
        - bordeaux
        - brown
        - gray
        - gold
        - green
        - multicolored
        - orange
        - pink
        - red
        - silver
        - turquoise
        - violet
        - white
        - yellow
        - other
      example: "blue"
    Language:
      description: The language used by the seller. Valid options are German (de), French (fr), or Italian (it).
      type: string
      enum:
        - de
        - fr
        - it
      example: de
    NotificationRecipient:
      description: A recipient designated to receive notifications such as leads or other interests.
      properties:
        email:
          description: The recipient’s email address.
          type: string
          example: johndoe@autoscout24.ch
    SellerType:
      description: The type of seller. Can be either professional or private.
      type: string
      enum:
        - professional
        - private
      example: professional
  securitySchemes:
    BearerAuth:
      bearerFormat: auth-scheme
      description: "Bearer HTTP authentication (Authorization: Bearer <access_token>)"
      scheme: bearer
      type: http
